/*----------------------------------------------------------

setting

----------------------------------------------------------*/
// カラー定義
$COLOR_GREEN: #0E9352; // rgb(14,147,82)
$COLOR_GREEN_BG: #EEF7F2;
$COLOR_GREEN_SHADOW: #0A6D3D;
$COLOR_GREY: #EFEFEF;
$COLOR_RED: #F23A3A;
$COLOR_YELLOW: #F6E929;
$COLOR_ORANGE: #F19149;
$COLOR_GREY_BORDER: #CCCCCC;
$MAIN_COLOR: $COLOR_GREEN;
$TEXT_COLOR: #333333;

// 固定サイズ定義
$SITE_HEADER_HEIGHT_PC: 142px;
$SITE_HEADER_HEIGHT_TAB: 90px;
$SITE_HEADER_HEIGHT_SP: 52px;
$HEADER_BREAKPOINT: 1024px;
$SP_BREAKPOINT: 768px;

// 旧特集ページで使用のため残しておく
// メインカラー
$green: #025332;
// サブカラー
$red: #F23A3A;

$darkgreen:#0A6D3D;
$lightgreen:#EFF7F2;
$yellow:#F6E929;

