<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title> 中古トラック販売・買取 | トラック市 長岡店【日本全国対応】 </title>
    <meta name="description" content="常時150台以上の在庫を保有。中型・大型・クレーン・平ボデー等豊富な品揃えで全車種取り扱い。陸送は全国対応。ご希望の車両を検索対象車3万5000台、日本全国約120のオークション会場の中から探します。電話でクイック無料査定、高額買取実施中。">
    <meta name="keywords" content="中古,トラック,買取,販売,トラック市,長岡店">
    <meta property="og:title" content="中古トラック販売・買取 | トラック市 長岡店【日本全国対応】">
    <meta property="og:description" content="常時150台以上の在庫を保有。中型・大型・クレーン・平ボデー等豊富な品揃えで全車種取り扱い。陸送は全国対応。ご希望の車両を検索対象車3万5000台、日本全国約120のオークション会場の中から探します。電話でクイック無料査定、高額買取実施中。">
    <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">

    <meta name="format-detection" content="email=no,telephone=no,address=no">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/dist/vendor/slick/slick.css">
    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/dist/vendor/slick/slick-theme.css">

    <script src="/truckichi-nagaoka/src/public_html/assets/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.js"></script>

    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/style.css" />
    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/list.css" />
    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/detail.css" />
    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/member.css" />
    
    <link type="text/css" href="/truckichi-nagaoka/src/public_html/assets/front/css/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/plugins/ajaxzip3.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/top_slider.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/mordal.js"></script>
    <script type="text/javascript" src="/admin/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/admin/js/jquery.datepicker.js"></script>

    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/dist/vendor/splide/splide.min.css">
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/js/splide.min.js"></script>
    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/top.css"> 
  </head>

  <body>
    <header class="header">
      <input type="checkbox" id="toggle-slide-menu" style="display: none;">
      <div class="header_navigation">
        <div class="container">
          <div class="header_wrap">
            <div class="header_logo">
              <h1><a href="<!--HP{$smarty.const.SITE_TOP_URL}HP-->" class="header_logo_wrap"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/logo.webp" alt="トラック市" width="215" height="35" decoding="async" loading="eager" class="header_logo_img"><span class="header_logo_txt">長岡店</span></a></h1>
            </div>
            <div class="header_mypage_menu">
              <!-- ログイン時ここから -->
              <!--
<div class="header_mypage_menu_user header_sp_none">
<img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_user.png" alt="" width="16" height="17" decoding="async" loading="eager" class="header_mypage_menu_userIcon">
<span class="header_mypage_menu_userName">長岡太郎様</span>
</div>
-->
              <!-- ログイン時ここまで -->
              <!-- ログアウト時ここから -->

              <div class="header_mypage_menu_invite header_sp_none">
                <button class="header_mypage_menu_inviteBtn color_green"><a href="/member/guide/ " class="header_mypage_menu_inviteBtnWrap">
                  <span class="header_mypage_menu_inviteBtnHead">会員<br>特典</span>
                  <p class="header_mypage_menu_inviteBtnText">気になるトラックの<br>値下げ情報をお知らせ！</p>
                  <span class="common_link_arrow common_link_arrow_green"></span>
                  </a></button>
              </div>

              <!-- ログアウト時ここまで -->
              <ul class="header_mypage_menu_btn">
                <!-- ログイン時ここから -->
                <!--
<li class="header_mypage_menu_btnItem color_green header_sp_none"><a href="/member/top/" class="header_mypage_menu_btnItemWrap">
<img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_mypage.png" alt="" width="20" height="20" decoding="async" loading="eager" class="header_mypage_menu_btnItemIcon">
<span class="header_mypage_menu_btnItemText">マイページ</span>
</a></li>
<li class="header_mypage_menu_btnItem color_green header_sp_none"><a href="/member/logout/" class="header_mypage_menu_btnItemWrap">
<img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_logout.png" alt="" width="20" height="20" decoding="async" loading="eager" class="header_mypage_menu_btnItemIcon">
<span class="header_mypage_menu_btnItemText">ログアウト</span>
</a></li>
-->
                <!-- ログイン時ここまで -->
                <!-- ログアウト時ここから -->

                <li class="header_mypage_menu_btnItem color_green header_sp_none"><a href="/member/login/" class="header_mypage_menu_btnItemWrap">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_login.png" alt="" width="20" height="20" decoding="async" loading="eager" class="header_mypage_menu_btnItemIcon">
                  <span class="header_mypage_menu_btnItemText">ログイン</span>
                  </a></li>

                <!-- ログアウト時ここまで -->
                <li class="header_mypage_menu_btnItem color_green"><a href="/member/browsing_history/" class="header_mypage_menu_btnItemWrap">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_history.png" alt="" width="20" height="20" decoding="async" loading="eager" class="header_mypage_menu_btnItemIcon">
                  <span class="header_mypage_menu_btnItemText">閲覧履歴</span>
                  </a></li>
                <li class="header_mypage_menu_btnItem color_green"><a href="/member/check/" class="header_mypage_menu_btnItemWrap">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_favorite.png" alt="" width="20" height="20" decoding="async" loading="eager" class="header_mypage_menu_btnItemIcon">
                  <span class="header_mypage_menu_btnItemText">気になる!</span>
                  </a></li>
              </ul>
            </div>
            <div class="header_contact header_sp_none">
              <div class="common_contact_tel"><a href="tel:0120-864-109" class="common_contact_tel_wrap">
                <p class="common_contact_telCatch color_green">ハローよい トラック</p>
                <p class="common_contact_telNo"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/ico_telephone_green.png" alt="" width="18" height="23" decoding="async" loading="eager" class="common_contact_telNoIcon"><span class="common_contact_telNoText color_green">0120-864-109</span></p>
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/common_open_hour.svg" alt="" width="212" height="10" decoding="async" loading="eager" class="common_contact_telHour">
                </a></div>
            </div>
            <div class="header_sp_btn header_pc_none">
              <label for="toggle-slide-menu" class="header_sp_btnLabel _menu">
                <span class="header_sp_btnBar">
                  <span class="header_sp_btnBarLine line1"></span>
                  <span class="header_sp_btnBarLine line2"></span>
                  <span class="header_sp_btnBarLine line3"></span>
                </span>
                <span class="header_sp_btnText">メニュー</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="header_slide_menu header_pc_none">
        <div class="header_slide_menu_container">
          <!-- ログイン時ここから -->
          <!--
<div class="header_slide_menu_welcome"><div class="container">
<div class="header_slide_menu_member"><span class="header_slide_menu_memberName">●●●●●●●●</span><span>様</span></div>
</div></div>
-->
          <!-- ログイン時ここまで -->
          <!-- ログアウト時ここから -->

          <div class="header_slide_menu_welcome">
            <div class="container">
              <div class="header_slide_menu_guest">
                <p class="header_slide_menu_guestName">ゲスト 様</p>
                <div class="header_slide_menu_guestBtns">
                  <button class="header_slide_menu_guestBtns_btn btn_green"><a href="/member/login/" class="header_slide_menu_guestBtns_btn_link"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_login_white.png" alt="" width="20" height="20" decoding="async" class="btn_icon"><span class="btn_text">ログイン</span></a></button>
                  <button class="header_slide_menu_guestBtns_btn btn_white"><a href="/member/guide/" class="header_slide_menu_guestBtns_btn_link">新規会員登録</a></button>
                </div>
              </div>
            </div>
          </div>

          <!-- ログアウト時ここまで -->
          <nav class="front_spNav">
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <!-- ログイン時ここから -->
                  <!--
<img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_mypage.png" alt="" width="20" height="20" decoding="async" loading="eager" class="front_spNav_sectionIcon">
<span class="front_spNav_sectionTitle">マイページトップ</span>
-->
                  <!-- ログイン時ここから -->
                  <!-- ログアウト時ここから -->

                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_home.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トップ</span>

                  <!-- ログアウト時ここまで -->
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/info/" class="front_spNav_menuItem">新着入庫情報<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/notice/" class="front_spNav_menuItem">お知らせ<span class="front_spNav_menuItemArrow"></span></a>
              </div>
            </div>
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_truck.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トラック情報</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/member/browsing_history" class="front_spNav_menuItem">閲覧したトラック<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/member/check/" class="front_spNav_menuItem">気になるトラック<span class="front_spNav_menuItemArrow"></span></a>
                <!-- ログイン時ここから -->
                <!--
<a href="/member/deal_history" class="front_spNav_menuItem">購入・売却履歴<span class="front_spNav_menuItemArrow"></span></a>
<a href="" class="front_spNav_menuItem"></a>
-->
                <!-- ログイン時ここまで -->
              </div>
            </div>
            <!-- ログイン時ここから -->
            <!--
<div class="front_spNav_section">
<div class="front_spNav_sectionHead"><div class="container">
<img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_pencil.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
<span class="front_spNav_sectionTitle">会員情報</span>
</div></div>
<div class="front_spNav_menu">
<a href="/member/edit/" class="front_spNav_menuItem">会員登録情報の変更<span class="front_spNav_menuItemArrow"></span></a>
<a href="/member/distribution/" class="front_spNav_menuItem">情報配信設定の変更<span class="front_spNav_menuItemArrow"></span></a>
<a href="/member/contact/" class="front_spNav_menuItem">お問い合わせ履歴<span class="front_spNav_menuItemArrow"></span></a>
<a href="/member/delete/" class="front_spNav_menuItem">退会手続き<span class="front_spNav_menuItemArrow"></span></a>
</div>
</div>
-->
            <!-- ログイン時ここまで -->
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_shopping.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">中古トラック販売</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/truckichi-nagaoka/stock/list/" class="front_spNav_menuItem front_spNav_menuItemW">中古トラック一覧<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/line/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">LINEでの</span><span class="front_spNav_menuItemSpan">お問い合わせ</span><span class="front_spNav_menuItemArrow"></span></a>
                <a href="/flow/" class="front_spNav_menuItem front_spNav_menuItemW">ご購入の流れ<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/faq_sale/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">よくある質問</span><small class="front_spNav_menuItemSmall">(中古トラックをお求めの方へ)</small><span class="front_spNav_menuItemArrow"></span></a>
              </div>
            </div>
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_handshake.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トラック買取</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/kaitori/" class="front_spNav_menuItem">トラックの買取<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/line_kaitori/" class="front_spNav_menuItem">LINEでの買取査定<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/faq_kaitori/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">よくある質問</span><small class="front_spNav_menuItemSmall">(トラック買取をご希望の方へ)</small><span class="front_spNav_menuItemArrow"></span></a>
                <a href="" class="front_spNav_menuItem"></a>
              </div>
            </div>
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_maintenance.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トラック市長岡の車検</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/inspection/" class="front_spNav_menuItem">車検整備について<span class="front_spNav_menuItemArrow"></span></a>
                <a href="" class="front_spNav_menuItem"></a>
              </div>
            </div>
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_corporate.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トラック市長岡について</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/goodpoint/" class="front_spNav_menuItem">当店のこだわり<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/service/" class="front_spNav_menuItem">4つの満足宣言<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/about/" class="front_spNav_menuItem">会社概要<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/access/" class="front_spNav_menuItem">店舗案内<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/contact/" class="front_spNav_menuItem front_spNav_menuItemBottom">お問い合わせ<span class="front_spNav_menuItemArrow"></span></a>
                <a href="" class="front_spNav_menuItem front_spNav_menuItemBottom"></a>
              </div>
            </div>
          </nav>
          <div class="header_slide_menuBtns">
            <div class="container header_slide_menuBtnsWrap">
              <!-- ログイン時ここから -->
              <!--
<button class="header_slide_menuBtns_btn btn_white"><a href="/member/logout/" class="header_slide_menuBtns_btn_link"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_logout.png" alt="" width="20" height="20" decoding="async" class="btn_icon"><span class="btn_text">ログアウト</span></a></button>
-->
              <!-- ログイン時ここまで -->
              <button class="header_slide_menuBtns_btn btn_white  header_slide_menu_btn"><a href="/" class="header_slide_menuBtns_btn_link"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_home.png" alt="" width="20" height="20" decoding="async" class="btn_icon"><span class="btn_text">ホームに戻る</span></a></button>
            </div>
          </div>
        </div>
      </div>
      <nav class="header_menu header_sp_none">
        <div class="container header_menu_container">
          <ul class="header_menu_list">
            <li class="header_menu_item"><a href="/truckichi-nagaoka/stock/list/" class="header_menu_itemWrap"><span>中古トラック販売</span></a></li>
            <li class="header_menu_item"><a href="/kaitori/" class="header_menu_itemWrap"><span>トラックの買取</span></a></li>
            <li class="header_menu_item"><a href="/inspection/" class="header_menu_itemWrap"><span>車検整備について</span></a></li>
            <li class="header_menu_item"><a href="/access/" class="header_menu_itemWrap"><span>店舗案内</span></a></li>
            <li class="header_menu_item"><a href="/faq_salle/" class="header_menu_itemWrap"><span>よくある質問<br><small class="menu_item_small">(中古トラックをお求めの方へ)</small></span></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!--HP{/if}HP-->
    <main class="main">

<h1 class="mypage_h1">閲覧したトラック</h1>
<div class="history_contact">
  <div class="history_contact_wrap">
    <p class="history_contact_text">チェックした<span class="color_green"><em class="history_contact_textNum">0</em>台</span>のトラックを</p>
    <button class="history_contact_btn btn_green"><a href="javascript:void(0)" class="history_contact_btn_link" onclick="onClickContact();">まとめて在庫確認・見積依頼をする<span class="history_contact_btnArrow common_link_arrow arrow_white btn_arrow"></span></a></button>
  </div>
</div>
<div class="history_table">
  <!--
  閲覧したトラック、気になるトラック 共通で使用するトラック一覧テーブル
-->
<div class="truck_list" data-simplebar data-simplebar-auto-hide="false">
  <table class="truck_listTable">
    <thead>
      <tr class=""><td class="truck_listTable_blank"></td><th class="truck_listTable_th bg_lightgreen"></th><th class="truck_listTable_th">問い合わせ番号</th><th class="truck_listTable_th"></th><th class="truck_listTable_th">支払総額(税込)</th><th class="truck_listTable_th">車両価格(税込)</th><th class="truck_listTable_th">諸費用(税込)</th><th class="truck_listTable_th">メーカー</th><th class="truck_listTable_th space_1em">車名</th><th class="truck_listTable_th space_1em">形状</th><th class="truck_listTable_th space_1em">年式</th><th class="truck_listTable_th">走行距離</th><th class="truck_listTable_th">車検満了月</th><th class="truck_listTable_th">最大積載量</th><th class="truck_listTable_th">総重量</th><th class="truck_listTable_th">お問い合わせ</th></tr>
    </thead>
    <tbody>
      <!-- リストのトラック数分繰り返しここから -->
      <tr><!-- 販売中 -->
        <td class="truck_listTable_td truck_listTable_trash "><a href="/member/browsing_history/?delete="><img src="/truckichi-nagaoka/src/public_html/assets/img/common/common_ico_trash.png" alt="" width="14" height="17" class="truck_listTable_trashIco"><span class="truck_listTable_trashTxt">削除</span></a></td>
        <td class="truck_listTable_td bg_lightgreen truck_listTable_check"><label class=""><input type="checkbox" name="manage_code[]" value="<!-- 管理コード -->" class="truck_listTable_checkInput"><input type="checkbox" name="car_id[]" value="<!-- 車両ID -->" class="truck_listTable_checkInput"><span class="truck_listTable_checkBox">
          <svg xmlns="http://www.w3.org/2000/svg" width="9.792" height="7.084" viewBox="0 0 9.792 7.084"><path id="checkbox_tick_mark_accept_your_checklist_queries" data-name="checkbox tick mark accept your checklist queries" d="M16.172,7.994a.832.832,0,0,1,0,1.178l-5.417,5.417a.831.831,0,0,1-1.178,0L6.869,11.881A.833.833,0,0,1,8.048,10.7l2.119,2.119,4.827-4.827a.832.832,0,0,1,1.178,0Z" transform="translate(-6.625 -7.75)" fill="#ccc"/></svg>
        </span></label></td>
        <td class="truck_listTable_td"><a href="/stock/detail/?car_id=" class="truck_listTable_contactNo">F904</a></td>
        <!-- 新着入庫は<span class="truck_listTable_titleFigTag">に 
          -- 'tag_new'クラスを付けてNEWと表示してください。
          -- タグが何もない場合は空<span>のままでも、<span>自体を表示しなくても
          -- どちらでもいいです。
         -->
        <td class="truck_listTable_td truck_listTable_title"><figure class="truck_listTable_titleFig"><img src="/uploads/test/3050_7542_1685420897_1.webp" alt="" width="200" height="150" loading="lazy" class="truck_listTable_titleFigImg"><span class="truck_listTable_titleFigTag tag_new">NEW</span></figure><h2 class="truck_listTable_titleName"><a href="/stock/detail/?car_id=">【年次点検済】レンジャー 3.75t 増トン ワイドベッド付 アルミブロック ユニック5段クレーン付 240ps</a></h2></td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 支払総額 -->1401</em>.7</span>万円</td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 車両価格 -->1386</em>.0</span>万円</td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 諸費用 -->15</em>.7</span>万円</td>
        <td class="truck_listTable_td "><!-- メーカー -->いすゞ</td>
        <td class="truck_listTable_td "><!-- 車名 -->エルフ</td>
        <td class="truck_listTable_td "><!-- 形状 -->平ボデー</td>
        <td class="truck_listTable_td "><!-- 年式 -->2017(H29)年</td>
        <td class="truck_listTable_td "><!-- 走行距離 -->4.705km</td>
        <td class="truck_listTable_td "><!-- 車検満了月 -->令和3年9月</td>
        <td class="truck_listTable_td "><!-- 最大積載量 -->2.000kg</td>
        <td class="truck_listTable_td "><!-- 総重量 -->13.240kg</td>
        <td class="truck_listTable_td truck_listTable_form">
          <!-- 販売中ここから -->
          <button class="truck_listTable_formBtn btn_green btn_onsale"><a href="/contact/?manage_code=&car_id=" class="truck_listTable_formBtn_link">フォームからご相談<span class="truck_listTable_formBtnArrow common_link_arrow arrow_white btn_arrow"></span></a></button>
          <!-- 販売中ここまで -->
        </td>
      </tr>
      <tr><!-- 売約済み -->
        <td class="truck_listTable_td truck_listTable_trash "><a href="/member/browsing_history/?delete="><img src="/truckichi-nagaoka/src/public_html/assets/img/common/common_ico_trash.png" alt="" width="14" height="17" class="truck_listTable_trashIco"><span class="truck_listTable_trashTxt">削除</span></a></td>
        <td class="truck_listTable_td bg_lightgreen truck_listTable_check"><label class=""><input type="checkbox" name="manage_code[]" value="<!-- 管理コード -->" class="truck_listTable_checkInput"><input type="checkbox" name="car_id[]" value="<!-- 車両ID -->" class="truck_listTable_checkInput"><span class="truck_listTable_checkBox">
          <svg xmlns="http://www.w3.org/2000/svg" width="9.792" height="7.084" viewBox="0 0 9.792 7.084"><path id="checkbox_tick_mark_accept_your_checklist_queries" data-name="checkbox tick mark accept your checklist queries" d="M16.172,7.994a.832.832,0,0,1,0,1.178l-5.417,5.417a.831.831,0,0,1-1.178,0L6.869,11.881A.833.833,0,0,1,8.048,10.7l2.119,2.119,4.827-4.827a.832.832,0,0,1,1.178,0Z" transform="translate(-6.625 -7.75)" fill="#ccc"/></svg>
        </span></label></td>
        <td class="truck_listTable_td"><a href="/stock/detail/?car_id=" class="truck_listTable_contactNo">F904</a></td>
        <!-- 売約済みは<figure>に 'fig_soldout'クラスを付けて、
          -- <span class="truck_listTable_titleFigTag">に 
          -- 'tag_soldout'クラスを付けて「売約済み」と表示してください。
          -- タグが何もない場合は空<span>のままでも、<span>自体を表示しなくても
          -- どちらでもいいです。
         -->
        <td class="truck_listTable_td truck_listTable_title"><figure class="truck_listTable_titleFig fig_soldout"><img src="/uploads/test/3050_7542_1685420897_1.webp" alt="" width="200" height="150" loading="lazy" class="truck_listTable_titleFigImg"><span class="truck_listTable_titleFigTag tag_soldout">売約済み</span></figure><h2 class="truck_listTable_titleName"><a href="/stock/detail/?car_id=">【年次点検済】レンジャー 3.75t 増トン ワイドベッド付 アルミブロック ユニック5段クレーン付 240ps</a></h2></td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 支払総額 -->1401</em>.7</span>万円</td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 車両価格 -->1386</em>.0</span>万円</td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 諸費用 -->15</em>.7</span>万円</td>
        <td class="truck_listTable_td "><!-- メーカー -->いすゞ</td>
        <td class="truck_listTable_td "><!-- 車名 -->エルフ</td>
        <td class="truck_listTable_td "><!-- 形状 -->平ボデー</td>
        <td class="truck_listTable_td "><!-- 年式 -->2017(H29)年</td>
        <td class="truck_listTable_td "><!-- 走行距離 -->4.705km</td>
        <td class="truck_listTable_td "><!-- 車検満了月 -->令和3年9月</td>
        <td class="truck_listTable_td "><!-- 最大積載量 -->2.000kg</td>
        <td class="truck_listTable_td "><!-- 総重量 -->13.240kg</td>
        <td class="truck_listTable_td truck_listTable_form">
          <!-- 売約済みここから -->
          <button class="truck_listTable_formBtn btn_green btn_soldout"><a href="/matching/" class="truck_listTable_formBtn_link">トラックを探してもらう<span class="truck_listTable_formBtnArrow common_link_arrow arrow_white btn_arrow"></span></a>
          <span class="truck_listTable_formBtnFree">無料！</span></button></td>
          <!-- 売約済みここまで -->
      </tr>
      <tr><!-- 販売中 -->
        <td class="truck_listTable_td truck_listTable_trash "><a href="/member/browsing_history/?delete="><img src="/truckichi-nagaoka/src/public_html/assets/img/common/common_ico_trash.png" alt="" width="14" height="17" class="truck_listTable_trashIco"><span class="truck_listTable_trashTxt">削除</span></a></td>
        <td class="truck_listTable_td bg_lightgreen truck_listTable_check"><label class=""><input type="checkbox" name="manage_code[]" value="<!-- 管理コード -->" class="truck_listTable_checkInput"><input type="checkbox" name="car_id[]" value="<!-- 車両ID -->" class="truck_listTable_checkInput"><span class="truck_listTable_checkBox">
          <svg xmlns="http://www.w3.org/2000/svg" width="9.792" height="7.084" viewBox="0 0 9.792 7.084"><path id="checkbox_tick_mark_accept_your_checklist_queries" data-name="checkbox tick mark accept your checklist queries" d="M16.172,7.994a.832.832,0,0,1,0,1.178l-5.417,5.417a.831.831,0,0,1-1.178,0L6.869,11.881A.833.833,0,0,1,8.048,10.7l2.119,2.119,4.827-4.827a.832.832,0,0,1,1.178,0Z" transform="translate(-6.625 -7.75)" fill="#ccc"/></svg>
        </span></label></td>
        <td class="truck_listTable_td"><a href="/stock/detail/?car_id=" class="truck_listTable_contactNo">F904</a></td>
        <!-- 新着入庫は<span class="truck_listTable_titleFigTag">に 
          -- 'tag_new'クラスを付けてNEWと表示してください。
          -- タグが何もない場合は空<span>のままでも、<span>自体を表示しなくても
          -- どちらでもいいです。
         -->
        <td class="truck_listTable_td truck_listTable_title"><figure class="truck_listTable_titleFig"><img src="/uploads/test/3050_7542_1685420897_1.webp" alt="" width="200" height="150" loading="lazy" class="truck_listTable_titleFigImg"><span class="truck_listTable_titleFigTag tag_new">NEW</span></figure><h2 class="truck_listTable_titleName"><a href="/stock/detail/?car_id=">【年次点検済】レンジャー 3.75t 増トン ワイドベッド付 アルミブロック ユニック5段クレーン付 240ps</a></h2></td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 支払総額 -->1401</em>.7</span>万円</td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 車両価格 -->1386</em>.0</span>万円</td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 諸費用 -->15</em>.7</span>万円</td>
        <td class="truck_listTable_td "><!-- メーカー -->いすゞ</td>
        <td class="truck_listTable_td "><!-- 車名 -->エルフ</td>
        <td class="truck_listTable_td "><!-- 形状 -->平ボデー</td>
        <td class="truck_listTable_td "><!-- 年式 -->2017(H29)年</td>
        <td class="truck_listTable_td "><!-- 走行距離 -->4.705km</td>
        <td class="truck_listTable_td "><!-- 車検満了月 -->令和3年9月</td>
        <td class="truck_listTable_td "><!-- 最大積載量 -->2.000kg</td>
        <td class="truck_listTable_td "><!-- 総重量 -->13.240kg</td>
        <td class="truck_listTable_td truck_listTable_form">
          <!-- 販売中ここから -->
          <button class="truck_listTable_formBtn btn_green btn_onsale"><a href="/contact/?manage_code=&car_id=" class="truck_listTable_formBtn_link">フォームからご相談<span class="truck_listTable_formBtnArrow common_link_arrow arrow_white btn_arrow"></span></a></button>
          <!-- 販売中ここまで -->
        </td>
      </tr>
      <tr><!-- 販売中 -->
        <td class="truck_listTable_td truck_listTable_trash "><a href="/member/browsing_history/?delete="><img src="/truckichi-nagaoka/src/public_html/assets/img/common/common_ico_trash.png" alt="" width="14" height="17" class="truck_listTable_trashIco"><span class="truck_listTable_trashTxt">削除</span></a></td>
        <td class="truck_listTable_td bg_lightgreen truck_listTable_check"><label class=""><input type="checkbox" name="manage_code[]" value="<!-- 管理コード -->" class="truck_listTable_checkInput"><input type="checkbox" name="car_id[]" value="<!-- 車両ID -->" class="truck_listTable_checkInput"><span class="truck_listTable_checkBox">
          <svg xmlns="http://www.w3.org/2000/svg" width="9.792" height="7.084" viewBox="0 0 9.792 7.084"><path id="checkbox_tick_mark_accept_your_checklist_queries" data-name="checkbox tick mark accept your checklist queries" d="M16.172,7.994a.832.832,0,0,1,0,1.178l-5.417,5.417a.831.831,0,0,1-1.178,0L6.869,11.881A.833.833,0,0,1,8.048,10.7l2.119,2.119,4.827-4.827a.832.832,0,0,1,1.178,0Z" transform="translate(-6.625 -7.75)" fill="#ccc"/></svg>
        </span></label></td>
        <td class="truck_listTable_td"><a href="/stock/detail/?car_id=" class="truck_listTable_contactNo">F904</a></td>
        <!-- 新着入庫は<span class="truck_listTable_titleFigTag">に 
          -- 'tag_new'クラスを付けてNEWと表示してください。
          -- タグが何もない場合は空<span>のままでも、<span>自体を表示しなくても
          -- どちらでもいいです。
         -->
        <td class="truck_listTable_td truck_listTable_title"><figure class="truck_listTable_titleFig"><img src="/uploads/test/3050_7542_1685420897_1.webp" alt="" width="200" height="150" loading="lazy" class="truck_listTable_titleFigImg"><span class="truck_listTable_titleFigTag tag_new">NEW</span></figure><h2 class="truck_listTable_titleName"><a href="/stock/detail/?car_id=">【年次点検済】レンジャー 3.75t 増トン ワイドベッド付 アルミブロック ユニック5段クレーン付 240ps</a></h2></td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 支払総額 -->1401</em>.7</span>万円</td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 車両価格 -->1386</em>.0</span>万円</td>
        <td class="truck_listTable_td truck_listTable_price"><span class="truck_listTable_priceNum"><em class="truck_listTable_priceNumEm"><!-- 諸費用 -->15</em>.7</span>万円</td>
        <td class="truck_listTable_td "><!-- メーカー -->いすゞ</td>
        <td class="truck_listTable_td "><!-- 車名 -->エルフ</td>
        <td class="truck_listTable_td "><!-- 形状 -->平ボデー</td>
        <td class="truck_listTable_td "><!-- 年式 -->2017(H29)年</td>
        <td class="truck_listTable_td "><!-- 走行距離 -->4.705km</td>
        <td class="truck_listTable_td "><!-- 車検満了月 -->令和3年9月</td>
        <td class="truck_listTable_td "><!-- 最大積載量 -->2.000kg</td>
        <td class="truck_listTable_td "><!-- 総重量 -->13.240kg</td>
        <td class="truck_listTable_td truck_listTable_form">
          <!-- 販売中ここから -->
          <button class="truck_listTable_formBtn btn_green btn_onsale"><a href="/contact/?manage_code=&car_id=" class="truck_listTable_formBtn_link">フォームからご相談<span class="truck_listTable_formBtnArrow common_link_arrow arrow_white btn_arrow"></span></a></button>
          <!-- 販売中ここまで -->
        </td>
      </tr>

      <!-- リストのトラック数分繰り返しここまで -->
    </tbody>
  </table>
</div>

</div>
<div class="history_contact">
  <div class="history_contact_wrap">
    <p class="history_contact_text">チェックした<span class="color_green"><em class="history_contact_textNum">0</em>台</span>のトラックを</p>
    <button class="history_contact_btn btn_green"><a href="javascript:void(0)" class="history_contact_btn_link" onclick="" onClickContact();>まとめて在庫確認・見積依頼をする<span class="history_contact_btnArrow common_link_arrow arrow_white btn_arrow"></span></a></button>
  </div>
</div>
<div class="cta_typeB">
  <h2 class="cta_typeA_head bg_green">お問い合わせはこちら</h2>
  <div class="cta_typeB_body">
    <img src="/truckichi-nagaoka/src/public_html/assets/img/common/cta_operator_a.webp" alt="" width="196" height="274" loading="lazy" decoding="async" class="cta_typeB_img">
    <div class="cta_typeA_tel">
      <button class="cta_btn cta_typeA_telBtn"><a href="tel:0120-864-109" class="cta_btn_tel">
        <div class="cta_btn_telNo">
          <img src="/truckichi-nagaoka/src/public_html/assets/img/common/ico_telephone_green.png" alt="" width="34" height="44" decoding="async" loading="lazy" class="cta_btn_telNoIcon"><span class="cta_btn_telNoText color_green"><span class="cta_btn_telFree bg_green">お電話無料！</span>0120-864-109<span class="cta_btn_telCopy color_green">ハローよい トラック</span></span>
        </div>
        <img src="/truckichi-nagaoka/src/public_html/assets/img/common/common_open_hour.svg" alt="" width="414" height="18" decoding="async" loading="lazy" class="cta_btn_telHour">
        <span class="common_link_arrow arrow_green btn_arrow pc_none"></span>
      </a></button>
    </div>
  </div>
</div>
<script>
</script>
      
      
      </main>
    <div id="page_top"><a href="#" class="page_top_link"><span class="sp_none">上へ戻る</span></a></div>
    <footer class="footer">
      <div class="footer_spNav pc_none">
        <nav class="front_spNav">
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <!-- ログイン時ここから -->
                <!--
<img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_mypage.png" alt="" width="20" height="20" decoding="async" loading="eager" class="front_spNav_sectionIcon">
<span class="front_spNav_sectionTitle">マイページトップ</span>
-->
                <!-- ログイン時ここから -->
                <!-- ログアウト時ここから -->

                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_home.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トップ</span>

                <!-- ログアウト時ここまで -->
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/info/" class="front_spNav_menuItem">新着入庫情報<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/notice/" class="front_spNav_menuItem">お知らせ<span class="front_spNav_menuItemArrow"></span></a>
            </div>
          </div>
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_truck.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トラック情報</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/member/browsing_history" class="front_spNav_menuItem">閲覧したトラック<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/member/check/" class="front_spNav_menuItem">気になるトラック<span class="front_spNav_menuItemArrow"></span></a>
              <!-- ログイン時ここから -->
              <!--
<a href="/member/deal_history" class="front_spNav_menuItem">購入・売却履歴<span class="front_spNav_menuItemArrow"></span></a>
<a href="" class="front_spNav_menuItem"></a>
-->
              <!-- ログイン時ここまで -->
            </div>
          </div>
          <!-- ログイン時ここから -->
          <!--
<div class="front_spNav_section">
<div class="front_spNav_sectionHead"><div class="container">
<img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_pencil.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
<span class="front_spNav_sectionTitle">会員情報</span>
</div></div>
<div class="front_spNav_menu">
<a href="/member/edit/" class="front_spNav_menuItem">会員登録情報の変更<span class="front_spNav_menuItemArrow"></span></a>
<a href="/member/distribution/" class="front_spNav_menuItem">情報配信設定の変更<span class="front_spNav_menuItemArrow"></span></a>
<a href="/member/contact/" class="front_spNav_menuItem">お問い合わせ履歴<span class="front_spNav_menuItemArrow"></span></a>
<a href="/member/delete/" class="front_spNav_menuItem">退会手続き<span class="front_spNav_menuItemArrow"></span></a>
</div>
</div>
-->
          <!-- ログイン時ここまで -->
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_shopping.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">中古トラック販売</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/truckichi-nagaoka/stock/list/" class="front_spNav_menuItem front_spNav_menuItemW">中古トラック一覧<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/line/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">LINEでの</span><span class="front_spNav_menuItemSpan">お問い合わせ</span><span class="front_spNav_menuItemArrow"></span></a>
              <a href="/flow/" class="front_spNav_menuItem front_spNav_menuItemW">ご購入の流れ<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/faq_sale/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">よくある質問</span><small class="front_spNav_menuItemSmall">(中古トラックをお求めの方へ)</small><span class="front_spNav_menuItemArrow"></span></a>
            </div>
          </div>
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_handshake.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トラック買取</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/kaitori/" class="front_spNav_menuItem">トラックの買取<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/line_kaitori/" class="front_spNav_menuItem">LINEでの買取査定<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/faq_kaitori/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">よくある質問</span><small class="front_spNav_menuItemSmall">(トラック買取をご希望の方へ)</small><span class="front_spNav_menuItemArrow"></span></a>
              <a href="" class="front_spNav_menuItem"></a>
            </div>
          </div>
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_maintenance.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トラック市長岡の車検</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/inspection/" class="front_spNav_menuItem">車検整備について<span class="front_spNav_menuItemArrow"></span></a>
              <a href="" class="front_spNav_menuItem"></a>
            </div>
          </div>
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_corporate.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トラック市長岡について</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/goodpoint/" class="front_spNav_menuItem">当店のこだわり<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/service/" class="front_spNav_menuItem">4つの満足宣言<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/about/" class="front_spNav_menuItem">会社概要<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/access/" class="front_spNav_menuItem">店舗案内<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/contact/" class="front_spNav_menuItem front_spNav_menuItemBottom">お問い合わせ<span class="front_spNav_menuItemArrow"></span></a>
              <a href="" class="front_spNav_menuItem front_spNav_menuItemBottom"></a>
            </div>
          </div>
        </nav>
      </div>
      <div class="footer_container">
        <div class="footer_info">
          <div class="container">
            <div class="footer_info_brand">
              <div class="footer_info_brandCompany">
                <div class="footer_logo">
                  <a href="/" class="footer_logo_link"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/logo.webp" alt="トラック市" width="197" height="32" decoding="async" loading="eager" class="footer_logo_linkImg"><span class="footer_logo_linkTxt">長岡店</span></a>
                  <span class="footer_logo_nakanoauto">（<a href="https://nakano-auto.co.jp/" target="_blank" rel="noopener" class="footer_logo_nakanoautoLink">株式会社ナカノオート</a>）</span>
                </div>
                <p class="footer_info_brandCompanyAccess"><span>TEL.0258-28-5831</span>&emsp;<span>FAX.0258-28-5832</span></p>
                <p class="footer_info_brandCompanyAccess">営業時間&ensp;/&ensp;8:30～18:30（第2・4月曜日、日、祝定休）</p>
                <p class="footer_info_brandCompanyAccess">〒940-2101&emsp;新潟県長岡市寺島町857番地</p>

              </div>
              <div class="footer_info_brandSeal">
                <div class="seal">
                  <script type="text/javascript" src="//seal.securecore.co.jp/js/coressl_130-50.js"></script>
                  <a href="https://seal.cloudsecure.co.jp/webSiteProfileCloudSSL.php?p1=www.truckichi-nagaoka.com" onclick="return op();"><img src="https://seal.cloudsecure.co.jp/seal.cgi?p1=www.truckichi-nagaoka.com&amp;p2=130-50-coressl" width="130" height="50"></a><noscript><img src="//seal.securecore.co.jp/image/noscript_130x50.png"></noscript>
                </div>
                <span class="footer_info_brandSealTxt">トラック市長岡店のウェブサイトはSecureCore社の暗号化通信技術を採用しています。安心してご利用をいただけます。</span>
              </div>
            </div>
            <div class="footer_info_nav sp_none">
              <div class="footer_info_navWrap">
                <!-- ログイン時ここから -->
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">マイページ</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/member/browsing_history/" class="footer_info_navMenuItemLink">閲覧したトラック</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/check/" class="footer_info_navMenuItemLink">気になるトラック</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/deal_history/" class="footer_info_navMenuItemLink">購入・売却履歴</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/edit/" class="footer_info_navMenuItemLink">会員登録情報の変更</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/distribution/" class="footer_info_navMenuItemLink">情報配信の変更</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/contact/" class="footer_info_navMenuItemLink">お問い合わせ履歴</a></li>
                  </ul>
                </nav>
                <!-- ログイン時ここまで -->
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">トラック市長岡について</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/goodpoint/" class="footer_info_navMenuItemLink">当店のこだわり</a></li>
                    <li class="footer_info_navMenuItem"><a href="/service/" class="footer_info_navMenuItemLink">４つの満足宣言</a></li>
                    <li class="footer_info_navMenuItem"><a href="/about/" class="footer_info_navMenuItemLink">会社概要</a></li>
                    <li class="footer_info_navMenuItem"><a href="/access/" class="footer_info_navMenuItemLink">店舗案内</a></li>
                    <li class="footer_info_navMenuItem"><a href="/contact/" class="footer_info_navMenuItemLink">お問い合わせ</a></li>
                  </ul>
                </nav>
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">中古トラック販売</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/stick/list/" class="footer_info_navMenuItemLink">中古トラック一覧</a></li>
                    <li class="footer_info_navMenuItem"><a href="/line/" class="footer_info_navMenuItemLink">LINEでのお問い合わせ</a></li>
                    <li class="footer_info_navMenuItem"><a href="/flow/" class="footer_info_navMenuItemLink">ご購入の流れ</a></li>
                    <li class="footer_info_navMenuItem"><a href="/faq_sale/" class="footer_info_navMenuItemLink">よくある質問<small class="footer_info_navMenuItemSmall">（中古トラックをお求めの方へ）</small></a></li>
                    <!-- ログアウト時ここから -->
                    <li class="footer_info_navMenuItem"><a href="/member/login/" class="footer_info_navMenuItemLink">マイページログイン</a></li>
                    <!-- ログアウト時ここまで -->
                  </ul>
                </nav>
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">トラック買取</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/kaitori/" class="footer_info_navMenuItemLink">トラックの買取</a></li>
                    <li class="footer_info_navMenuItem"><a href="/line_kaitori/" class="footer_info_navMenuItemLink">LINEでの買取査定</a></li>
                    <li class="footer_info_navMenuItem"><a href="/faq_sale/" class="footer_info_navMenuItemLink">よくある質問<small class="footer_info_navMenuItemSmall">（トラック買取をご希望の方へ）</small></a></li>
                  </ul>
                </nav>
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">トラック市長岡の車検</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/inspection/" class="footer_info_navMenuItemLink">車検整備について</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_contact">
          <div class="container">
            <div class="footer_contact_wrap">
              <div class="footer_contact_exMenu">
                <ul class="footer_contact_exMenuList">
                  <li class="footer_contact_exMenuListItem"><a href="/privacy/">個人情報の取り扱いについて</a></li>
                  <li class="footer_contact_exMenuListItem_separator">｜</li>
                  <li class="footer_contact_exMenuListItem"><a href="/agreement/">ご利用規約</a></li>
                  <li class="footer_contact_exMenuListItem_separator sp_none">｜</li>
                  <li class="footer_contact_exMenuListItem"><a href="/legal_notice/">特商法に関する記載</a></li>
                  <li class="footer_contact_exMenuListItem_separator">｜</li>
                  <li class="footer_contact_exMenuListItem"><a href="/sitemap/">サイトマップ</a></li>
                </ul>
                <div class="footer_contact_exMenuBtns">
                  <buton class="footer_contact_btn"><a href="https://nakano-auto.co.jp/" target="_blank" rel="noopener" class="footer_contact_btnWrap"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/footer_ico_external.png" alt="外部サイトへ" width="16" height="16" decoding="async" loading="eager" class="footer_contact_btnIcon"><span class="footer_contact_btnTxt">株式会社ナカノオート【公式】</span></a></buton>
                  <buton class="footer_contact_btn"><a href="https://recruit.nakano-auto.co.jp/" target="_blank" rel="noopener" class="footer_contact_btnWrap"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/footer_ico_external.png" alt="外部サイトへ" width="16" height="16" decoding="async" loading="eager" class="footer_contact_btnIcon"><span class="footer_contact_btnTxt">ナカノオートで働きませんか</span></a></buton>
                </div>
              </div>
              <div class="footer_contact_telCopy sp_none">
                <div class="footer_contact_tel">
                  <div class="common_contact_tel"><a href="tel:0120-864-109" class="common_contact_tel_wrap">
                    <p class="common_contact_telCatch color_green">ハローよい トラック</p>
                    <p class="common_contact_telNo"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/ico_telephone_green.png" alt="" width="18" height="23" decoding="async" loading="eager" class="common_contact_telNoIcon"><span class="common_contact_telNoText color_green">0120-864-109</span></p>
                    <img src="/truckichi-nagaoka/src/public_html/assets/img/common/common_open_hour.svg" alt="" width="212" height="10" decoding="async" loading="eager" class="common_contact_telHour">
                    </a></div>
                </div>
                <p class="footer_copyright">Copyright © Truck Ichi Nagaoka All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="footer_copyright_sp pc_none">Copyright © Truck Ichi Nagaoka All Rights Reserved.</p>
      <div class="footer_fixed pc_none">
        <div class="footer_fixed_wrap">
          <button class="footer_fixed_btn btn_green btn_no_shadow"><a href="tel:0120864109" class="footer_fixed_btn_link analytics_tel">電話で相談</a></button>
          <button class="footer_fixed_btn btn_white btn_no_shadow"><a href="https://line.me/R/ti/p/%40uta6888b" target="_blank" rel="noopener" class="footer_fixed_btn_link analytics_line">LINEで相談</a></button>
        </div>
      </div>
    </footer>
    <!-- /footer -->
    <script src="/truckichi-nagaoka/src/public_html/assets/js/common.js"></script>
    <!-- 
<script src="/truckichi-nagaoka/src/public_html/assets/js/tab.js"></script>
<script src="/truckichi-nagaoka/src/public_html/assets/js/sticky_footer_list.js"></script>
-->
    <!--HP{if $smarty.server.REQUEST_URI|strstr:"confirm"}HP-->
    <!--
<script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/confirm.js"></script>
-->
    <!--HP{/if}HP-->
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        let checkbox = document.getElementById('toggle-slide-menu');
        checkbox.addEventListener('change', function(e) {
          if (this.checked) {
            document.getElementsByTagName('body')[0].classList.add('scroll_lock');
          } else {
            document.getElementsByTagName('body')[0].classList.remove('scroll_lock');
          }
        })
      });

    </script>
    <!--HP{$custom_footer}HP-->
    <!--HP{if !empty($path_js)}HP-->
    <!--HP{include file="custom_common/js.tpl"}HP-->
    <!--HP{include file="$path_js"}HP-->
    <!--HP{/if}HP-->
    <!--HP{/if}HP-->
    <script src="/truckichi-nagaoka/src/public_html/assets/js/accordion.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/ajaxzip3.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/form.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/smooth_scroll.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/sticky_footer.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/detail_modal.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/front_form.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/stock.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/img_action.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/js/date_picker_custom.js"></script>

    <script src="/truckichi-nagaoka/src/public_html/assets/js/float_menu_list.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/top_slider.js"></script>
  </body>

</html>