/*----------------------------------------------------------

mixin

----------------------------------------------------------*/
.pc {
  display: block;
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

/*----------------------------------------------------------

setting

----------------------------------------------------------*/
.mypage_h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.mypage_head {
  padding: 20px 0;
  background-color: #EEF7F2;
}
@media only screen and (max-width: 768px) {
  .mypage_head {
    padding: 15px 0;
  }
}
.mypage_head_text {
  color: #0E9352;
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .mypage_head_text {
    font-size: 18px;
  }
}
.mypage_head_textSep {
  margin-left: 1em;
  margin-right: 1em;
}

.mypage_sidebar {
  flex-basis: 200px;
  flex-shrink: 0;
}
@media only screen and (max-width: 768px) {
  .mypage_sidebar {
    display: none;
  }
}
.mypage_sidebar_head {
  position: relative;
  margin-bottom: 32px;
  color: #0E9352;
  font-size: 20px;
  font-weight: 700;
}
.mypage_sidebar_head::after {
  display: block;
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0E9352;
  content: "";
}
.mypage_sidebar_item {
  line-height: 2;
}
.mypage_sidebar_item.current_item {
  color: #0E9352;
  font-weight: 700;
}
.mypage_sidebar_item.current_item .mypage_sidebar_itemLink {
  pointer-events: none;
}
.mypage_sidebar_itemLink {
  display: inline-block;
  position: relative;
}
.mypage_sidebar_itemLink::after {
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: #0E9352;
  content: "";
}
.mypage_sidebar_itemLink:hover {
  color: #0E9352;
  font-weight: 700;
}
.mypage_sidebar_itemLink:hover::after {
  height: 1px;
}
.mypage_sidebar_menu {
  margin-bottom: 40px;
}

.mypage_container {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 5%;
       column-gap: 5%;
  padding-top: 50px;
}
@media only screen and (max-width: 768px) {
  .mypage_container {
    padding-top: 10px;
  }
}
.mypage_container .mypage_main {
  flex-grow: 1;
}

.registGuide_headBand {
  background-color: #0E9352;
  text-align: center;
}
.registGuide_headBand_catch {
  display: inline-block;
  position: relative;
  padding: 50px 0;
  color: #FFF;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 60px;
}
@media only screen and (max-width: 768px) {
  .registGuide_headBand_catch {
    padding: 25px 0;
    font-size: 20px;
    line-height: 30px;
  }
}
.registGuide_headBand_catch::before, .registGuide_headBand_catch:after {
  display: block;
  position: absolute;
  height: 100%;
  bottom: 0;
  background: bottom/contain no-repeat;
  content: "";
}
.registGuide_headBand_catch::before {
  right: calc(100% + 28px);
  width: 52.5%;
  background-image: url("/assets/img/member/registguide_head_illust1.webp");
}
@media only screen and (max-width: 768px) {
  .registGuide_headBand_catch::before {
    right: calc(100% + 8px);
    width: 47.7%;
  }
}
.registGuide_headBand_catch::after {
  left: calc(100% - 20px);
  width: 69.3%;
  background-image: url("/assets/img/member/registguide_head_illust2.webp");
}
@media only screen and (max-width: 768px) {
  .registGuide_headBand_catch::after {
    width: 64.3%;
  }
}
.registGuide_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 3.3%;
       column-gap: 3.3%;
  row-gap: 60px;
  padding: 100px 0 80px;
}
@media only screen and (max-width: 768px) {
  .registGuide_content {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    flex-wrap: wrap;
    padding: 40px 0 60px;
  }
}
.registGuide_content_col {
  flex-basis: 48.3%;
  min-width: 580px;
  position: relative;
  padding: 25px 40px 70px;
  background-color: #EEF7F2;
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_col {
    flex-basis: 100%;
    min-width: unset;
    padding: 20px 20px 60px 20px;
  }
}
.registGuide_content_head {
  position: relative;
  margin-bottom: 43px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_head {
    margin-bottom: 30px;
  }
}
.registGuide_content_headTtl {
  display: inline-block;
  color: #0E9352;
  font-size: 36px;
  line-height: 92px;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_headTtl {
    font-size: 24px;
    line-height: 68px;
  }
}
.registGuide_content_headTtlEm {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_headTtlEm {
    font-size: 52px;
  }
}
.registGuide_content_headBalloon {
  display: block;
  position: absolute;
  top: -50px;
  left: calc(50% - 107.5px);
  width: 215px;
  background-color: #0E9352;
  border-radius: 24px;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1em;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_headBalloon {
    top: -37px;
    left: calc(50% - 73px);
    width: 146px;
    font-size: 18px;
    line-height: 34px;
  }
}
.registGuide_content_headBalloonB {
  position: relative;
  z-index: 1;
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_headBalloonB {
    font-size: 20px;
  }
}
.registGuide_content_headBalloon::after {
  display: block;
  position: absolute;
  top: 77%;
  left: 20px;
  width: 14px;
  height: 20px;
  background-color: #0E9352;
  -webkit-clip-path: polygon(0 0, 100% 0, 10% 100%);
          clip-path: polygon(0 0, 100% 0, 10% 100%);
  transform: rotate(-60deg);
  content: "";
}
@media only screen and (max-width: 768px) {
  .registGuide_content_headBalloon::after {
    top: 67%;
  }
}
.registGuide_content_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 3%;
       column-gap: 3%;
  row-gap: 30px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_list {
    margin-bottom: 30px;
  }
}
.registGuide_content_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  flex-basis: 48%;
  min-width: 240px;
  height: 240px;
  padding-bottom: 20px;
  border: 2px solid #0E9352;
  border-radius: 12px;
  background-color: #FFF;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_box {
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 100%;
    min-width: unset;
    height: 140px;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.registGuide_content_boxTxt {
  color: #0E9352;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxTxt {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}
.registGuide_content_boxTxtEm {
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxTxtEm {
    font-size: 20px;
  }
}
.registGuide_content_boxFig {
  flex-grow: 1;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxFig {
    flex-grow: 0;
  }
}
.registGuide_content_boxFig.fig_1 {
  width: 77%;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxFig.fig_1 {
    width: 47%;
  }
}
.registGuide_content_boxFig.fig_2 {
  width: 72%;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxFig.fig_2 {
    width: 47%;
  }
}
.registGuide_content_boxFig.fig_3 {
  width: 60.8%;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxFig.fig_3 {
    width: 45%;
  }
}
.registGuide_content_boxFig.fig_4 {
  width: 58.3%;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxFig.fig_4 {
    width: 39%;
  }
}
.registGuide_content_boxFig.fig_5 {
  width: 47.5%;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxFig.fig_5 {
    width: 34%;
  }
}
.registGuide_content_boxFig.fig_6 {
  width: 52.5%;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxFig.fig_6 {
    width: 36%;
  }
}
.registGuide_content_boxFigImg {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.registGuide_content_boxNum {
  position: absolute;
  top: -25px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: #0E9352;
  border-radius: 50%;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_boxNum {
    top: -20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
}
.registGuide_content_note {
  height: 1.6em;
  margin-bottom: 11px;
  color: #0E9352;
  font-size: 13px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_note {
    height: 50px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
  }
}
.registGuide_content_btn {
  position: relative;
  display: block;
  width: 420px;
  box-shadow: 0 4px 0 #0A6D3D;
  border: 1px solid #0E9352;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_btn {
    width: 100%;
  }
}
.registGuide_content_btn.btn_white {
  background-color: #FFFFFF;
  color: #0E9352;
}
.registGuide_content_btn.btn_green {
  background-color: #0E9352;
  color: #FFFFFF;
}
.registGuide_content_btn.btn_grey {
  background-color: #CCC;
  border-color: #CCC;
  box-shadow: 0 3px 0 #AAA;
  color: #FFFFFF;
}
.registGuide_content_btn.btn_no_shadow {
  box-shadow: none;
}
.registGuide_content_btn_link {
  line-height: 76px;
  letter-spacing: 0.1em;
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_btn_link {
    line-height: 76px;
    font-size: 18px;
  }
}
.registGuide_content_btn_link .btn_icon, .registGuide_content_btn_link .btn_text {
  vertical-align: middle;
}
.registGuide_content_btn_link .btn_icon {
  aspect-ratio: auto 1/1;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.registGuide_content_btn .btn_arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.registGuide_content_btn:hover {
  box-shadow: 0 2px 0 #0A6D3D;
  transform: translateY(2px);
}
.registGuide_content_btn.btn_grey:hover {
  box-shadow: 0 2px 0 #AAA;
}
.registGuide_content_btnB {
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .registGuide_content_btnB {
    font-size: 22px;
  }
}
.registGuide_content_btnFree {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  background-color: #FFF;
  border-radius: 6px;
  color: #0E9352;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 28px;
  text-align: center;
}
.registGuide_nav {
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  border: 1px solid #0E9352;
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 0 3px 0 #0A6D3D;
}
@media only screen and (min-width: 769px) {
  .registGuide_nav {
    display: none;
  }
}
.registGuide_nav_btn {
  flex-basis: 50%;
  padding: 10px 0;
  border: none;
}
.registGuide_nav_btn_link {
  display: block;
  color: #0E9352;
  font-size: 16px;
  font-weight: 700;
  line-height: 38px;
}
.registGuide_nav_btn_linkSpan {
  margin-right: 5px;
  vertical-align: middle;
}
.registGuide_nav_btn_link .arrow_down {
  vertical-align: middle;
}
.registGuide_nav_btn:first-child .registGuide_nav_btn_link {
  border-right: 1px solid rgba(14, 147, 82, 0.49);
}
.registGuide_cta_catch {
  color: #0E9352;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .registGuide_cta_catch {
    font-size: 16px;
    letter-spacing: 0.025em;
  }
}
.registGuide_cta_catchSpan {
  display: inline-block;
  position: relative;
}
.registGuide_cta_catchSpan::before, .registGuide_cta_catchSpan::after {
  display: block;
  width: 2px;
  height: 40px;
  position: absolute;
  bottom: 0;
  transform-origin: bottom;
  background-color: #0E9352;
  content: "";
}
@media only screen and (max-width: 768px) {
  .registGuide_cta_catchSpan::before, .registGuide_cta_catchSpan::after {
    height: 54px;
  }
}
.registGuide_cta_catchSpan::before {
  left: -20px;
  transform: rotate(-45deg);
}
@media only screen and (max-width: 768px) {
  .registGuide_cta_catchSpan::before {
    left: 0;
    transform: rotate(-20deg);
  }
}
.registGuide_cta_catchSpan::after {
  right: -20px;
  transform: rotate(45deg);
}
@media only screen and (max-width: 768px) {
  .registGuide_cta_catchSpan::after {
    right: 0;
    transform: rotate(20deg);
  }
}

.regist_head_note {
  font-size: 13px;
}
.regist_headBand {
  width: 67.1vw;
  max-width: 940px;
  margin: 0 auto 50px;
  background-color: #0E9352;
}
.regist_headBand_title {
  padding-left: 3.2%;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 70px;
}
@media screen and (max-width: 1400px) {
  .regist_headBand {
    width: 74.38%;
  }
}
@media only screen and (max-width: 768px) {
  .regist_headBand {
    width: 100%;
    margin-bottom: 30px;
  }
  .regist_headBand_title {
    font-size: 20px;
    line-height: 50px;
  }
}
.regist_form {
  width: 78.3%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .regist_form {
    width: 100%;
  }
}
.regist_form_head {
  position: relative;
  margin-bottom: 45px;
  color: #0E9352;
  font-size: 24px;
  line-height: 1.6;
}
@media only screen and (max-width: 768px) {
  .regist_form_head {
    margin-bottom: 19px;
    font-size: 20px;
  }
}
.regist_form_head::before, .regist_form_head::after {
  display: block;
  position: absolute;
  height: 4px;
  left: 0;
  bottom: -7px;
  content: "";
}
@media only screen and (max-width: 768px) {
  .regist_form_head::before, .regist_form_head::after {
    height: 3px;
    bottom: -2px;
  }
}
.regist_form_head::before {
  width: 100%;
  background-color: #EFEFEF;
}
.regist_form_head::after {
  width: 200px;
  background-color: #0E9352;
}
@media only screen and (max-width: 768px) {
  .regist_form_head::after {
    width: 120px;
  }
}
.regist_form_container {
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .regist_form_container {
    margin-bottom: 40px;
  }
}
.regist_formTable {
  table-layout: fixed;
  width: 100%;
}
.regist_formTable_th {
  width: 27.7%;
  padding: 30px 0;
  border-bottom: 1px solid #CCCCCC;
}
@media only screen and (max-width: 768px) {
  .regist_formTable_th {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
    border-bottom-width: 0;
  }
}
.regist_formTable_td {
  width: 72.3%;
  padding: 30px 0;
  border-bottom: 1px solid #CCCCCC;
}
@media only screen and (max-width: 768px) {
  .regist_formTable_td {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 15px;
  }
}
.regist_formTable_title {
  font-size: 18px;
  font-weight: 700;
}
.regist_formTable_require {
  display: inline-block;
  width: 35px;
  margin-left: 10px;
  background-color: #F23A3A;
  border-radius: 3px;
  color: #FFF;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
.regist_formTable_note {
  margin-top: 10px;
  padding-left: 1em;
  font-size: 13px;
  text-indent: -1em;
}
.regist_formTable_flex {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.regist_formInput_text {
  width: 100%;
  padding: 22px 25px;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .regist_formInput_text {
    padding: 18px 20px;
  }
}
.regist_formInput_text::-moz-placeholder {
  color: #CCCCCC;
  font-size: 18px;
}
.regist_formInput_text::placeholder {
  color: #CCCCCC;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .regist_formInput_text::-moz-placeholder {
    font-size: 16px;
  }
  .regist_formInput_text::placeholder {
    font-size: 16px;
  }
}
.regist_formInput_text.text_w50 {
  width: 47%;
}
.regist_formInput_text.text_w50:first-child {
  margin-right: 5%;
}
.regist_formInput_text.text_w40 {
  width: 160px;
}
@media only screen and (max-width: 768px) {
  .regist_formInput_text.text_w40 {
    width: 147px;
  }
}
.regist_formInput_checkbox {
  display: none;
}
.regist_formInput_checkbox:checked + .regist_formLabel_checkbox .checkbox_mark {
  background-color: #0E9352;
  color: #FFF;
}
.regist_formLabel_checkbox {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .regist_formLabel_checkbox {
    display: block;
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
  }
}
.regist_formLabel_checkbox .checkbox_mark {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  color: #CCCCCC;
  font-size: 16px;
  line-height: 1;
  padding: 3px 0;
  text-align: center;
}
.regist_formLabel_checkbox .checkbox_label {
  font-size: 18px;
}
.regist_form_zipBtn {
  width: 152px;
  background-color: #333333;
  border-radius: 6px;
  border: none;
  color: #FFF;
  line-height: 50px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .regist_form_zipBtn {
    width: 140px;
    line-height: 44px;
  }
}
.regist_formMore {
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .regist_formMore {
    margin-bottom: 40px;
  }
}
.regist_formMore_lead {
  margin-bottom: 20px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .regist_formMore_lead {
    margin-bottom: 15px;
  }
}
.regist_formMore_leadTxt {
  display: inline-block;
  position: relative;
}
.regist_formMore_leadTxt::before, .regist_formMore_leadTxt::after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 54px;
  background-color: #0E9352;
  transform-origin: bottom;
  content: "";
}
@media only screen and (max-width: 768px) {
  .regist_formMore_leadTxt::before, .regist_formMore_leadTxt::after {
    height: 86px;
  }
}
.regist_formMore_leadTxt::before {
  left: -20px;
  transform: rotate(-20deg);
}
@media only screen and (max-width: 768px) {
  .regist_formMore_leadTxt::before {
    left: -10px;
  }
}
.regist_formMore_leadTxt::after {
  right: -20px;
  transform: rotate(20deg);
}
@media only screen and (max-width: 768px) {
  .regist_formMore_leadTxt::after {
    right: -10px;
  }
}
.regist_formMore_btn {
  display: block;
  width: 100%;
  height: auto;
  padding: 25px 0;
  border: none;
  border-radius: 12px;
  background-color: #EEF7F2;
  text-align: center;
  cursor: pointer;
}
.regist_formMore_btnSpin {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #0E9352;
  border-radius: 50%;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .regist_formMore_btnSpin {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
.regist_formMore_btnSpin:before, .regist_formMore_btnSpin::after {
  display: block;
  position: absolute;
  top: calc(50% - 0.5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 1px;
  background-color: #FFF;
  content: "";
}
@media only screen and (max-width: 768px) {
  .regist_formMore_btnSpin:before, .regist_formMore_btnSpin::after {
    width: 8px;
    left: calc(50% - 4px);
  }
}
.regist_formMore_btnSpin::after {
  transition: all ease 0.3s;
  transform: rotate(90deg);
}
.regist_formMore_btn.btn_open .regist_formMore_btnSpin::after {
  transform: rotate(0deg);
}
.regist_formMore_btnTxt {
  color: #0E9352;
  font-size: 20px;
  font-weight: 700;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .regist_formMore_btnTxt {
    font-size: 18px;
  }
}
.regist_form_agree {
  margin-bottom: 20px;
  text-align: center;
}
.regist_form_agreeLink {
  color: #0E9352;
  text-decoration: underline;
}
.regist_form_submit {
  position: relative;
  display: block;
  width: 420px;
  box-shadow: 0 4px 0 #0A6D3D;
  border: 1px solid #0E9352;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .regist_form_submit {
    width: 100%;
  }
}
.regist_form_submit.btn_white {
  background-color: #FFFFFF;
  color: #0E9352;
}
.regist_form_submit.btn_green {
  background-color: #0E9352;
  color: #FFFFFF;
}
.regist_form_submit.btn_grey {
  background-color: #CCC;
  border-color: #CCC;
  box-shadow: 0 3px 0 #AAA;
  color: #FFFFFF;
}
.regist_form_submit.btn_no_shadow {
  box-shadow: none;
}
.regist_form_submit_link {
  line-height: 76px;
  letter-spacing: 0.1em;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .regist_form_submit_link {
    line-height: 76px;
    font-size: 20px;
  }
}
.regist_form_submit_link .btn_icon, .regist_form_submit_link .btn_text {
  vertical-align: middle;
}
.regist_form_submit_link .btn_icon {
  aspect-ratio: auto 1/1;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.regist_form_submit .btn_arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.regist_form_submit:hover {
  box-shadow: 0 2px 0 #0A6D3D;
  transform: translateY(2px);
}
.regist_form_submit.btn_grey:hover {
  box-shadow: 0 2px 0 #AAA;
}

.regist_complete {
  width: 78%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .regist_complete {
    width: 100%;
  }
}
.regist_complete_head {
  margin-bottom: 30px;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .regist_complete_head {
    margin: 40px 0 40px;
    font-size: 20px;
    line-height: 1.5;
  }
}
.regist_complete_text {
  margin-bottom: 1em;
}
.regist_complete_textLink {
  margin: 0 0.5em;
  font-weight: 700;
  text-decoration: underline;
}
.regist_complete_nav {
  display: flex;
  width: 80%;
  margin: 140px auto 0;
  padding: 50px;
  border: 1px solid #0E9352;
  border-radius: 30px;
}
@media only screen and (max-width: 768px) {
  .regist_complete_nav {
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
  }
}
.regist_complete_navBlock {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
@media only screen and (max-width: 768px) {
  .regist_complete_navBlock {
    display: block;
    width: 100%;
  }
}
.regist_complete_navBlock:first-child {
  padding-right: 50px;
  border-right: 1px solid #0E9352;
}
@media only screen and (max-width: 768px) {
  .regist_complete_navBlock:first-child {
    padding-right: 0;
    padding-bottom: 50px;
    border-right: none;
    border-bottom: 1px solid #0E9352;
  }
}
.regist_complete_navBlock:last-child {
  padding-left: 50px;
}
@media only screen and (max-width: 768px) {
  .regist_complete_navBlock:last-child {
    padding-left: 0;
    padding-top: 50px;
  }
}
.regist_complete_navBlockTxt {
  flex-grow: 1;
  font-size: 18px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .regist_complete_navBlockTxt {
    font-weight: 700;
  }
}
.regist_complete_navBlockBtn {
  position: relative;
  display: block;
  width: 100%;
  box-shadow: 0 4px 0 #0A6D3D;
  border: 1px solid #0E9352;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .regist_complete_navBlockBtn {
    width: 100%;
  }
}
.regist_complete_navBlockBtn.btn_white {
  background-color: #FFFFFF;
  color: #0E9352;
}
.regist_complete_navBlockBtn.btn_green {
  background-color: #0E9352;
  color: #FFFFFF;
}
.regist_complete_navBlockBtn.btn_grey {
  background-color: #CCC;
  border-color: #CCC;
  box-shadow: 0 3px 0 #AAA;
  color: #FFFFFF;
}
.regist_complete_navBlockBtn.btn_no_shadow {
  box-shadow: none;
}
.regist_complete_navBlockBtn_link {
  line-height: 58px;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .regist_complete_navBlockBtn_link {
    line-height: 58px;
    font-size: 18px;
  }
}
.regist_complete_navBlockBtn_link .btn_icon, .regist_complete_navBlockBtn_link .btn_text {
  vertical-align: middle;
}
.regist_complete_navBlockBtn_link .btn_icon {
  aspect-ratio: auto 1/1;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.regist_complete_navBlockBtn .btn_arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.regist_complete_navBlockBtn:hover {
  box-shadow: 0 2px 0 #0A6D3D;
  transform: translateY(2px);
}
.regist_complete_navBlockBtn.btn_grey:hover {
  box-shadow: 0 2px 0 #AAA;
}

.mypage_mv {
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .mypage_mv {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .mypage_mv_container {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
.mypage_headline {
  padding: 40px 0 60px;
}
.mypage_headline .common_headline {
  padding: 0;
}
.mypage_info {
  padding: 80px 0 140px;
  background-color: #EEF7F2;
}
@media only screen and (max-width: 768px) {
  .mypage_info {
    padding: 40px 0 60px;
  }
}
.mypage_infoBox_head {
  margin-bottom: 30px;
  font-size: 28px;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_head {
    font-size: 24px;
  }
}
.mypage_infoBox_wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_wrap {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.mypage_infoBox_plate {
  display: flex;
  align-items: center;
  flex-basis: 62%;
  flex-shrink: 0;
  min-width: 720px;
  padding: 20px 40px 20px 0;
  background-color: #FFF;
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_plate {
    flex-wrap: wrap;
    flex-basis: 100%;
    min-width: unset;
    padding: 40px 10px;
  }
}
.mypage_infoBox_plateHead {
  flex-basis: 210px;
  flex-shrink: 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_plateHead {
    flex-basis: 100%;
    text-align: left;
  }
}
.mypage_infoBox_plateHead_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_plateHead_wrap {
    flex-direction: row;
    -moz-column-gap: 15px;
         column-gap: 15px;
    padding-left: 10px;
    padding-bottom: 30px;
  }
}
.mypage_infoBox_plateBody {
  flex-grow: 1;
  padding: 16px 0 10px 40px;
  border-left: 1px solid rgba(14, 147, 82, 0.4);
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_plateBody {
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 0;
    border-left: none;
    border-top: 1px solid rgba(14, 147, 82, 0.4);
  }
}
.mypage_infoBox_plateBodyTtl {
  margin-bottom: 20px;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_plateBodyTtl {
    padding-left: 10px;
  }
}
.mypage_infoBox_plateLink {
  display: block;
  margin-top: 30px;
  font-weight: 700;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_plateLink {
    margin-top: 20px;
  }
}
.mypage_infoBox_plateLinkSpan {
  vertical-align: middle;
}
.mypage_infoBox_plateLink .common_link_arrow {
  margin-left: 4px;
}
.mypage_infoBox_nav {
  flex-basis: 415px;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_nav {
    flex-basis: 100%;
  }
}
.mypage_infoBox_navWrap {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  flex-wrap: wrap;
  row-gap: 18px;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_navWrap {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.mypage_infoBox_navBtn {
  width: 200px;
  height: 130px;
  background-color: #FFF;
  border: 1px solid #0E9352;
  border-radius: 12px;
  box-shadow: 0 4px 0 #0A6D3D;
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_navBtn {
    width: 172px;
    height: 110px;
    box-shadow: 0 3px 0 #0A6D3D;
  }
}
.mypage_infoBox_navBtnLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 13px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_navBtnLink {
    row-gap: 9px;
  }
}
.mypage_infoBox_navBtnImg {
  width: 40px;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox_navBtnImg {
    width: 34px;
  }
}
.mypage_infoBox_navBtn.btn_w100 {
  width: 100%;
  height: 60px;
}
.mypage_infoBox_navBtn:hover {
  box-shadow: 0 2px 0 #0A6D3D;
  transform: translateY(2px);
}
.mypage_infoBox:first-child {
  margin-bottom: 80px;
}
@media only screen and (max-width: 768px) {
  .mypage_infoBox:first-child {
    margin-bottom: 60px;
  }
}

.history_contact {
  margin-bottom: 16px;
  padding: 13px 0;
  background-color: #EEF7F2;
}
@media only screen and (max-width: 768px) {
  .history_contact {
    margin-bottom: 10px;
    padding: 18px 0;
  }
}
.history_contact_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.3%;
       column-gap: 1.3%;
  row-gap: 7px;
}
.history_contact_text {
  font-weight: 700;
}
.history_contact_textNum {
  font-size: 20px;
}
.history_contact_btn {
  position: relative;
  display: block;
  width: 320px;
  box-shadow: 0 4px 0 #0A6D3D;
  border: 1px solid #0E9352;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding-left: 1em;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .history_contact_btn {
    width: 320px;
  }
}
.history_contact_btn.btn_white {
  background-color: #FFFFFF;
  color: #0E9352;
}
.history_contact_btn.btn_green {
  background-color: #0E9352;
  color: #FFFFFF;
}
.history_contact_btn.btn_grey {
  background-color: #CCC;
  border-color: #CCC;
  box-shadow: 0 3px 0 #AAA;
  color: #FFFFFF;
}
.history_contact_btn.btn_no_shadow {
  box-shadow: none;
}
.history_contact_btn_link {
  line-height: 44px;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .history_contact_btn_link {
    line-height: 50px;
    font-size: 16px;
  }
}
.history_contact_btn_link .btn_icon, .history_contact_btn_link .btn_text {
  vertical-align: middle;
}
.history_contact_btn_link .btn_icon {
  aspect-ratio: auto 1/1;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.history_contact_btn .btn_arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.history_contact_btn:hover {
  box-shadow: 0 2px 0 #0A6D3D;
  transform: translateY(2px);
}
.history_contact_btn.btn_grey:hover {
  box-shadow: 0 2px 0 #AAA;
}
@media only screen and (max-width: 768px) {
  .history_contact_btn_link {
    letter-spacing: 0.05em;
  }
}

.history_table {
  margin-bottom: 30px;
}

.truck_list {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .truck_list {
    padding-bottom: 25px;
  }
}
.truck_list .simplebar-track {
  width: calc(100% - 170px);
  left: unset;
  background-color: #EFEFEF;
}
@media only screen and (max-width: 768px) {
  .truck_list .simplebar-track {
    width: calc(100% - 140px);
  }
}
.truck_list .simplebar-track .simplebar-scrollbar::before {
  background-color: #CCCCCC;
  opacity: 1;
}

.truck_listTable {
  table-layout: fixed;
  writing-mode: vertical-lr;
}
.truck_listTable_th, .truck_listTable_td {
  min-height: 43px;
  line-height: 40px;
  border: 1px solid #CCCCCC;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .truck_listTable_th, .truck_listTable_td {
    min-height: 35px;
    line-height: 34px;
  }
}
.truck_listTable_th .truck_listTable_hr, .truck_listTable_td .truck_listTable_hr {
  writing-mode: horizontal-tb;
}
.truck_listTable_th {
  position: relative;
  width: 170px;
  background-color: #EFEFEF;
  border-left-width: 0;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .truck_listTable_th {
    width: 140px;
  }
}
.truck_listTable_th.th_auto {
  height: auto;
}
.truck_listTable_th.bg_lightgreen {
  background-color: #EEF7F2;
}
.truck_listTable_th::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #CCCCCC;
  content: "";
}
.truck_listTable_td {
  width: 220px;
}
@media only screen and (max-width: 768px) {
  .truck_listTable_td {
    width: 210px;
  }
}
.truck_listTable thead tr {
  position: sticky;
  left: 0;
  z-index: 100;
}
.truck_listTable_blank {
  background-color: #FFF;
}
.truck_listTable_trash {
  border: none;
}
.truck_listTable_trashIco {
  margin-right: 6px;
}
.truck_listTable_trashTxt {
  text-decoration: underline;
}
.truck_listTable_check {
  padding: 10px 0;
}
@media only screen and (max-width: 768px) {
  .truck_listTable_check {
    padding: 7px 0;
  }
}
.truck_listTable_checkInput {
  display: none;
}
.truck_listTable_checkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  cursor: pointer;
}
.truck_listTable_checkInput:checked ~ .truck_listTable_checkBox {
  background-color: #0E9352;
  border: none;
}
.truck_listTable_checkInput:checked ~ .truck_listTable_checkBox path {
  fill: #FFF;
}
.truck_listTable_contactNo {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
}
.truck_listTable_title {
  height: auto;
  padding: 10px 0 16px;
  vertical-align: top;
  word-break: break-all;
  text-align: left;
}
.truck_listTable_titleFig {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 0 auto 10px;
}
@media only screen and (max-width: 768px) {
  .truck_listTable_titleFig {
    width: 190px;
    height: 142px;
  }
}
.truck_listTable_titleFigImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.truck_listTable_titleFigTag {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  padding: 0 0.5em;
}
.truck_listTable_titleFigTag.tag_new {
  background-color: #F23A3A;
}
.truck_listTable_titleFigTag.tag_soldout {
  background-color: #333333;
}
.truck_listTable_titleFig.fig_soldout::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.4);
  content: "";
}
.truck_listTable_titleName {
  padding: 0 10px;
  color: #0E9352;
  line-height: 1.6;
}
.truck_listTable_price {
  font-weight: 700;
}
.truck_listTable_priceNum {
  margin-right: 3px;
  font-family: "Roboto", sans-serif;
}
.truck_listTable_priceNumEm {
  font-size: 20px;
}
.truck_listTable_form {
  height: 68px;
  min-height: 68px;
  padding: 10px 0;
}
.truck_listTable_formBtn {
  position: relative;
  display: block;
  width: 200px;
  box-shadow: 0 4px 0 #0A6D3D;
  border: 1px solid #0E9352;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1em;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .truck_listTable_formBtn {
    width: 190px;
  }
}
.truck_listTable_formBtn.btn_white {
  background-color: #FFFFFF;
  color: #0E9352;
}
.truck_listTable_formBtn.btn_green {
  background-color: #0E9352;
  color: #FFFFFF;
}
.truck_listTable_formBtn.btn_grey {
  background-color: #CCC;
  border-color: #CCC;
  box-shadow: 0 3px 0 #AAA;
  color: #FFFFFF;
}
.truck_listTable_formBtn.btn_no_shadow {
  box-shadow: none;
}
.truck_listTable_formBtn_link {
  line-height: 44px;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .truck_listTable_formBtn_link {
    line-height: 44px;
    font-size: 16px;
  }
}
.truck_listTable_formBtn_link .btn_icon, .truck_listTable_formBtn_link .btn_text {
  vertical-align: middle;
}
.truck_listTable_formBtn_link .btn_icon {
  aspect-ratio: auto 1/1;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.truck_listTable_formBtn .btn_arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.truck_listTable_formBtn:hover {
  box-shadow: 0 2px 0 #0A6D3D;
  transform: translateY(2px);
}
.truck_listTable_formBtn.btn_grey:hover {
  box-shadow: 0 2px 0 #AAA;
}
@media only screen and (max-width: 768px) {
  .truck_listTable_formBtn_link {
    letter-spacing: 0.01em;
  }
}
.truck_listTable_formBtn.btn_soldout .truck_listTable_formBtn_link {
  font-size: 13px;
}
.truck_listTable_formBtnFree {
  display: block;
  width: 50px;
  position: absolute;
  left: 7px;
  top: -7px;
  background-color: #FFF;
  border: 2px solid #0E9352;
  border-radius: 9px;
  color: #0E9352;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}
.truck_listTable_formBtnFree::after {
  display: block;
  width: 8px;
  height: 5px;
  position: absolute;
  left: 2px;
  top: calc(100% - 2px);
  background-color: #FFF;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  content: "";
}

.cta_typeB {
  margin-top: 60px;
}
@media only screen and (max-width: 768px) {
  .cta_typeB {
    margin-top: 56px;
  }
}

/*----------------------------------------------------------

 CTA

----------------------------------------------------------*/
.cta_btn {
  position: relative;
  border: none;
}
@media only screen and (max-width: 768px) {
  .cta_btn {
    width: 100%;
    border: 2px solid #0E9352;
    border-radius: 6px;
    box-shadow: 0 4px 0 #0A6D3D;
    background-color: #FFF;
    text-align: right;
  }
}
.cta_btn_tel {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .cta_btn_tel {
    padding: 10px 18% 4px 7.5%;
  }
}
.cta_btn_telCopy {
  font-size: clamp(10px, 1.25vw, 16px);
  letter-spacing: 0.426em;
  line-height: 24px;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .cta_btn_telCopy {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.26em;
  }
}
.cta_btn_telNo {
  margin-bottom: 4px;
}
@media only screen and (max-width: 768px) {
  .cta_btn_telNo {
    margin-bottom: 0;
  }
}
.cta_btn_telNoIcon {
  width: clamp(22px, 2.65vw, 34px);
  aspect-ratio: auto 34/44;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .cta_btn_telNoIcon {
    width: clamp(18px, 4.8vw, 34px);
  }
}
.cta_btn_telNoText {
  font-family: "Roboto", sans-serif;
  font-size: clamp(32px, 4.4vw, 60px);
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .cta_btn_telNoText {
    font-size: clamp(32px, 8.5vw, 60px);
  }
}
.cta_btn_telNoHour {
  width: 100%;
}
.cta_btn_telFree {
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 8%;
  border-radius: 15px;
  padding: 0 1em;
  font-size: clamp(10px, 1.25vw, 16px);
  line-height: 1.875;
  letter-spacing: 0.15em;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .cta_btn_telFree {
    top: -6px;
    left: 15%;
    font-size: 10px;
  }
}
.cta_btn_telFree::after {
  display: block;
  position: absolute;
  top: 80%;
  left: 10px;
  width: 9px;
  height: 17px;
  background-color: #0E9352;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  transform: rotate(-30deg);
  content: "";
}
.cta_btn_tel .btn_arrow {
  position: absolute;
  right: 5%;
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
}

.cta_typeA {
  position: relative;
  width: 100%;
  border: 6px solid #0E9352;
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .cta_typeA {
    border-width: 4px;
  }
}
.cta_typeA_head {
  font-size: 26px;
  letter-spacing: 0.2em;
  line-height: 70px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .cta_typeA_head {
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 56px;
    text-align: left;
  }
}
.cta_typeA_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 45px 5% 25px 20%;
  border-radius: 0 0 6px 6px;
  background-color: #EEF7F2;
}
@media only screen and (max-width: 768px) {
  .cta_typeA_body {
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 20px 20px 26px 20px;
  }
}
.cta_typeA_tel {
  flex-basis: 48%;
}
@media only screen and (max-width: 768px) {
  .cta_typeA_tel {
    flex-basis: 100%;
  }
}
.cta_typeA_btn {
  flex-basis: 48%;
  position: relative;
  display: block;
  width: 100%;
  box-shadow: 0 4px 0 #0A6D3D;
  border: 1px solid #0E9352;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .cta_typeA_btn {
    width: 100%;
  }
}
.cta_typeA_btn.btn_white {
  background-color: #FFFFFF;
  color: #0E9352;
}
.cta_typeA_btn.btn_green {
  background-color: #0E9352;
  color: #FFFFFF;
}
.cta_typeA_btn.btn_grey {
  background-color: #CCC;
  border-color: #CCC;
  box-shadow: 0 3px 0 #AAA;
  color: #FFFFFF;
}
.cta_typeA_btn.btn_no_shadow {
  box-shadow: none;
}
.cta_typeA_btn_link {
  line-height: 76px;
  letter-spacing: 0.025em;
  font-size: clamp(20px, 1.87vw, 24px);
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .cta_typeA_btn_link {
    line-height: 76px;
    font-size: 20px;
  }
}
.cta_typeA_btn_link .btn_icon, .cta_typeA_btn_link .btn_text {
  vertical-align: middle;
}
.cta_typeA_btn_link .btn_icon {
  aspect-ratio: auto 1/1;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.cta_typeA_btn .btn_arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.cta_typeA_btn:hover {
  box-shadow: 0 2px 0 #0A6D3D;
  transform: translateY(2px);
}
.cta_typeA_btn.btn_grey:hover {
  box-shadow: 0 2px 0 #AAA;
}
@media only screen and (max-width: 768px) {
  .cta_typeA_btn {
    flex-basis: 100%;
    margin-bottom: 0;
  }
}
.cta_typeA_btn .btn_arrow {
  width: 26px;
  height: 26px;
}
@media only screen and (max-width: 768px) {
  .cta_typeA_btn .btn_arrow {
    width: 22px;
    height: 22px;
  }
}
.cta_typeA_img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 2.9%;
  width: 16.3%;
}
@media only screen and (max-width: 768px) {
  .cta_typeA_img {
    top: -97px;
    bottom: unset;
    left: unset;
    right: 1%;
    width: 31%;
  }
}

.cta_typeB {
  position: relative;
  width: 100%;
  border: 6px solid #0E9352;
  border-radius: 12px;
}
@media only screen and (max-width: 768px) {
  .cta_typeB {
    border-width: 4px;
  }
}
.cta_typeB_body {
  position: relative;
  padding: 25px 5% 25px 36%;
  border-radius: 0 0 6px 6px;
  background-color: #EEF7F2;
}
@media only screen and (max-width: 768px) {
  .cta_typeB_body {
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 20px 20px 26px 20px;
  }
}
.cta_typeB_body .cta_btn_tel {
  padding-top: 24px;
}
.cta_typeB_body .cta_btn_telNo, .cta_typeB_body .cta_btn_telNoText {
  position: relative;
}
.cta_typeB_body .cta_btn_telNoText {
  font-size: clamp(34px, 4.4vw, 54px);
}
@media only screen and (max-width: 768px) {
  .cta_typeB_body .cta_btn_telNoText {
    font-size: clamp(32px, 8.5vw, 60px);
  }
}
.cta_typeB_body .cta_btn_telCopy {
  position: absolute;
  bottom: 100%;
  right: 0;
  font-size: clamp(10px, 1.1vw, 14px);
  letter-spacing: 0.52em;
  line-height: 1;
}
@media only screen and (max-width: 768px) {
  .cta_typeB_body .cta_btn_telCopy {
    font-size: 10px;
    letter-spacing: 0.26em;
  }
}
.cta_typeB_body .cta_btn_telFree {
  top: -30px;
  left: 0;
}
.cta_typeB_body .cta_typeB_img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 8%;
  width: 16.7%;
  min-width: 130px;
}
@media only screen and (max-width: 768px) {
  .cta_typeB_body .cta_typeB_img {
    top: -97px;
    bottom: unset;
    left: unset;
    right: 1%;
    width: 31%;
    min-width: unset;
  }
}

.cta_detail {
  margin-bottom: 30px;
  border: 3px solid #EEF7F2;
  background-color: #FFF;
}
@media only screen and (max-width: 768px) {
  .cta_detail {
    margin-top: 40px;
    border-color: #0E9352;
  }
}
.cta_detail_head {
  font-size: 26px;
  letter-spacing: 0.2em;
  line-height: 70px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .cta_detail_head {
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 56px;
    text-align: left;
  }
}
.cta_detail_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  position: relative;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .cta_detail_body {
    flex-wrap: wrap;
    row-gap: 15px;
    padding: 20px 20px 26px 20px;
    background-color: #EEF7F2;
    border-radius: 0 0 10px 10px;
  }
}
.cta_detail_tel {
  flex-basis: 47%;
  min-width: 240px;
}
@media only screen and (max-width: 768px) {
  .cta_detail_tel {
    flex-basis: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .cta_detail_telBtn .cta_btn_telNoText {
    font-size: 34px;
  }
}
.cta_detail_telBtn .cta_btn_telNoIcon {
  width: 19px;
}
@media only screen and (min-width: 769px) {
  .cta_detail_telBtn .cta_btn_telFree {
    left: 9px;
    font-size: 10px;
  }
  .cta_detail_telBtn .cta_btn_telFree::after {
    width: 6px;
    height: 12px;
  }
}
.cta_detail_telBtn .cta_btn_telCopy {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.3em;
}
.cta_detail_btn {
  flex-basis: 51%;
  min-width: 260px;
  position: relative;
  display: block;
  width: 100%;
  box-shadow: 0 4px 0 #0A6D3D;
  border: 1px solid #0E9352;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .cta_detail_btn {
    width: 100%;
  }
}
.cta_detail_btn.btn_white {
  background-color: #FFFFFF;
  color: #0E9352;
}
.cta_detail_btn.btn_green {
  background-color: #0E9352;
  color: #FFFFFF;
}
.cta_detail_btn.btn_grey {
  background-color: #CCC;
  border-color: #CCC;
  box-shadow: 0 3px 0 #AAA;
  color: #FFFFFF;
}
.cta_detail_btn.btn_no_shadow {
  box-shadow: none;
}
.cta_detail_btn_link {
  line-height: 60px;
  letter-spacing: 0.05em;
  font-size: 18px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .cta_detail_btn_link {
    line-height: 60px;
    font-size: 20px;
  }
}
.cta_detail_btn_link .btn_icon, .cta_detail_btn_link .btn_text {
  vertical-align: middle;
}
.cta_detail_btn_link .btn_icon {
  aspect-ratio: auto 1/1;
  margin-right: 7px;
  width: 20px;
  height: 20px;
}
.cta_detail_btn .btn_arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.cta_detail_btn:hover {
  box-shadow: 0 2px 0 #0A6D3D;
  transform: translateY(2px);
}
.cta_detail_btn.btn_grey:hover {
  box-shadow: 0 2px 0 #AAA;
}
@media only screen and (max-width: 768px) {
  .cta_detail_btn {
    flex-basis: 100%;
  }
}
.cta_detail_btn .btn_arrow {
  width: 26px;
  height: 26px;
}
@media only screen and (max-width: 768px) {
  .cta_detail_btn .btn_arrow {
    width: 22px;
    height: 22px;
  }
}
@media only screen and (min-width: 769px) {
  .cta_detail_btn.btn_line {
    display: none;
  }
}
.cta_detail_btnBalloon {
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 70px;
  background-color: #FFF;
  border: 2px solid #0E9352;
  border-radius: 12px;
  color: #0E9352;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 20px;
  text-align: center;
}
.cta_detail_btnBalloon::after {
  display: block;
  position: absolute;
  top: 80%;
  left: 10px;
  width: 6px;
  height: 12px;
  background-color: #FFF;
  -webkit-clip-path: polygon(0 0, 100% 0, 10% 100%);
          clip-path: polygon(0 0, 100% 0, 10% 100%);
  transform: rotate(-30deg);
  content: "";
}
.cta_detail_img {
  position: absolute;
  bottom: 0;
  left: 2.9%;
  width: 16.3%;
}
@media only screen and (max-width: 768px) {
  .cta_detail_img {
    top: -97px;
    bottom: unset;
    left: unset;
    right: 1%;
    width: 31%;
  }
}
.cta_detail_img {
  position: absolute;
  bottom: 0;
  left: 2.9%;
  width: 16.3%;
}
@media only screen and (max-width: 768px) {
  .cta_detail_img {
    top: -97px;
    bottom: unset;
    left: unset;
    right: 1%;
    width: 31%;
  }
}/*# sourceMappingURL=member.css.map */