<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>トラック市長岡店 ご利用規約｜すぐに乗れる中古トラックの専門店！トラック市 長岡店</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:image" content="">

    <meta name="format-detection" content="email=no,telephone=no,address=no">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/dist/vendor/slick/slick.css">
    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/dist/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"/>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script> 

    <script src="/truckichi-nagaoka/src/public_html/assets/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.js"></script>

    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/style.css" />
    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/terms.css" />
    
    <link type="text/css" href="/truckichi-nagaoka/src/public_html/assets/front/css/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/plugins/ajaxzip3.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/top_slider.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/mordal.js"></script>
    <script type="text/javascript" src="/admin/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/admin/js/jquery.datepicker.js"></script>

    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/dist/vendor/splide/splide.min.css">
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/js/splide.min.js"></script>
    <link rel="stylesheet" href="/truckichi-nagaoka/src/public_html/assets/css/top.css"> 
  </head>
  <body>
    <header class="header">
      <input type="checkbox" id="toggle-slide-menu" style="display: none;">
      <div class="header_navigation">
        <div class="container">
          <div class="header_wrap">
            <div class="header_logo">
              <h1><a href="<!--HP{$smarty.const.SITE_TOP_URL}HP-->" class="header_logo_wrap"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/logo.webp" alt="トラック市" width="215" height="35" decoding="async" loading="eager" class="header_logo_img"><span class="header_logo_txt">長岡店</span></a></h1>
            </div>
            <div class="header_mypage_menu">
              <div class="header_mypage_menu_invite header_sp_none">
                <button class="header_mypage_menu_inviteBtn color_green"><a href="/member/guide/ " class="header_mypage_menu_inviteBtnWrap">
                  <span class="header_mypage_menu_inviteBtnHead">会員<br>特典</span>
                  <p class="header_mypage_menu_inviteBtnText">気になるトラックの<br>値下げ情報をお知らせ！</p>
                  <span class="common_link_arrow common_link_arrow_green"></span>
                  </a></button>
              </div>
              <ul class="header_mypage_menu_btn">
                <li class="header_mypage_menu_btnItem color_green header_sp_none"><a href="/member/login/" class="header_mypage_menu_btnItemWrap">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_login.png" alt="" width="20" height="20" decoding="async" loading="eager" class="header_mypage_menu_btnItemIcon">
                  <span class="header_mypage_menu_btnItemText">ログイン</span>
                  </a></li>
                <li class="header_mypage_menu_btnItem color_green"><a href="/member/browsing_history/" class="header_mypage_menu_btnItemWrap">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_history.png" alt="" width="20" height="20" decoding="async" loading="eager" class="header_mypage_menu_btnItemIcon">
                  <span class="header_mypage_menu_btnItemText">閲覧履歴</span>
                  </a></li>
                <li class="header_mypage_menu_btnItem color_green"><a href="/member/check/" class="header_mypage_menu_btnItemWrap">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_favorite.png" alt="" width="20" height="20" decoding="async" loading="eager" class="header_mypage_menu_btnItemIcon">
                  <span class="header_mypage_menu_btnItemText">気になる!</span>
                  </a></li>
              </ul>
            </div>
            <div class="header_contact header_sp_none">
              <div class="common_contact_tel"><a href="tel:0120-864-109" class="common_contact_tel_wrap">
                <p class="common_contact_telCatch color_green">ハローよい トラック</p>
                <p class="common_contact_telNo"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/ico_telephone_green.png" alt="" width="18" height="23" decoding="async" loading="eager" class="common_contact_telNoIcon"><span class="common_contact_telNoText color_green">0120-864-109</span></p>
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/common_open_hour.svg" alt="" width="212" height="10" decoding="async" loading="eager" class="common_contact_telHour">
                </a></div>
            </div>
            <div class="header_sp_btn header_pc_none">
              <label for="toggle-slide-menu" class="header_sp_btnLabel _menu">
                <span class="header_sp_btnBar">
                  <span class="header_sp_btnBarLine line1"></span>
                  <span class="header_sp_btnBarLine line2"></span>
                  <span class="header_sp_btnBarLine line3"></span>
                </span>
                <span class="header_sp_btnText">メニュー</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="header_slide_menu header_pc_none">
        <div class="header_slide_menu_container">
          <div class="header_slide_menu_welcome">
            <div class="container">
              <div class="header_slide_menu_guest">
                <p class="header_slide_menu_guestName">ゲスト 様</p>
                <div class="header_slide_menu_guestBtns">
                  <button class="header_slide_menu_guestBtns_btn btn_green"><a href="/member/login/" class="header_slide_menu_guestBtns_btn_link"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_login_white.png" alt="" width="20" height="20" decoding="async" class="btn_icon"><span class="btn_text">ログイン</span></a></button>
                  <button class="header_slide_menu_guestBtns_btn btn_white"><a href="/member/guide/" class="header_slide_menu_guestBtns_btn_link">新規会員登録</a></button>
                </div>
              </div>
            </div>
          </div>
          <nav class="front_spNav">
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_home.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トップ</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/info/" class="front_spNav_menuItem">新着入庫情報<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/notice/" class="front_spNav_menuItem">お知らせ<span class="front_spNav_menuItemArrow"></span></a>
              </div>
            </div>
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_truck.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トラック情報</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/member/browsing_history" class="front_spNav_menuItem">閲覧したトラック<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/member/check/" class="front_spNav_menuItem">気になるトラック<span class="front_spNav_menuItemArrow"></span></a>
              </div>
            </div>
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_shopping.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">中古トラック販売</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/truckichi-nagaoka/stock/list/" class="front_spNav_menuItem front_spNav_menuItemW">中古トラック一覧<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/line/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">LINEでの</span><span class="front_spNav_menuItemSpan">お問い合わせ</span><span class="front_spNav_menuItemArrow"></span></a>
                <a href="/flow/" class="front_spNav_menuItem front_spNav_menuItemW">ご購入の流れ<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/faq_sale/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">よくある質問</span><small class="front_spNav_menuItemSmall">(中古トラックをお求めの方へ)</small><span class="front_spNav_menuItemArrow"></span></a>
              </div>
            </div>
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_handshake.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トラック買取</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/kaitori/" class="front_spNav_menuItem">トラックの買取<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/line_kaitori/" class="front_spNav_menuItem">LINEでの買取査定<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/faq_kaitori/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">よくある質問</span><small class="front_spNav_menuItemSmall">(トラック買取をご希望の方へ)</small><span class="front_spNav_menuItemArrow"></span></a>
                <a href="" class="front_spNav_menuItem"></a>
              </div>
            </div>
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_maintenance.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トラック市長岡の車検</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/inspection/" class="front_spNav_menuItem">車検整備について<span class="front_spNav_menuItemArrow"></span></a>
                <a href="" class="front_spNav_menuItem"></a>
              </div>
            </div>
            <div class="front_spNav_section">
              <div class="front_spNav_sectionHead">
                <div class="container">
                  <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_corporate.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                  <span class="front_spNav_sectionTitle">トラック市長岡について</span>
                </div>
              </div>
              <div class="front_spNav_menu">
                <a href="/goodpoint/" class="front_spNav_menuItem">当店のこだわり<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/service/" class="front_spNav_menuItem">4つの満足宣言<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/about/" class="front_spNav_menuItem">会社概要<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/access/" class="front_spNav_menuItem">店舗案内<span class="front_spNav_menuItemArrow"></span></a>
                <a href="/contact/" class="front_spNav_menuItem front_spNav_menuItemBottom">お問い合わせ<span class="front_spNav_menuItemArrow"></span></a>
                <a href="" class="front_spNav_menuItem front_spNav_menuItemBottom"></a>
              </div>
            </div>
          </nav>
          <div class="header_slide_menuBtns">
            <div class="container header_slide_menuBtnsWrap">
              <button class="header_slide_menuBtns_btn btn_white  header_slide_menu_btn"><a href="/" class="header_slide_menuBtns_btn_link"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_home.png" alt="" width="20" height="20" decoding="async" class="btn_icon"><span class="btn_text">ホームに戻る</span></a></button>
            </div>
          </div>
        </div>
      </div>
      <nav class="header_menu header_sp_none">
        <div class="container header_menu_container">
          <ul class="header_menu_list">
            <li class="header_menu_item"><a href="/truckichi-nagaoka/stock/list/" class="header_menu_itemWrap"><span>中古トラック販売</span></a></li>
            <li class="header_menu_item"><a href="/kaitori/" class="header_menu_itemWrap"><span>トラックの買取</span></a></li>
            <li class="header_menu_item"><a href="/inspection/" class="header_menu_itemWrap"><span>車検整備について</span></a></li>
            <li class="header_menu_item"><a href="/access/" class="header_menu_itemWrap"><span>店舗案内</span></a></li>
            <li class="header_menu_item"><a href="/faq_salle/" class="header_menu_itemWrap"><span>よくある質問<br><small class="menu_item_small">(中古トラックをお求めの方へ)</small></span></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <!--HP{/if}HP-->
    <main class="main">
      <!--ここから-->
      <div class="common_breadcrumb">
        <div class="container">
          <ol class="common_breadcrumb_list">
            <li class="common_breadcrumb_listItem"><a href="/" class="ico_bc_home common_breadcrumb_listItemLink">中古トラックのトラック市長岡店</a></li>
            <li class="common_breadcrumb_listItem">特商法に関する記載</li>
          </ol>
        </div>
      </div>
      <div class="container">
        <h1 class="common_page_h1"><span class="common_page_h1_en">The Specified Commercial Transaction Act</span><span class="common_page_h1_ja">特商法に関する記載</span></h1>
      </div>

      <!--ここまで-->   
    </main>
    <div id="page_top"><a href="#" class="page_top_link"><span class="sp_none">上へ戻る</span></a></div>
    <footer class="footer">
      <div class="footer_spNav pc_none">
        <nav class="front_spNav">
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_home.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トップ</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/info/" class="front_spNav_menuItem">新着入庫情報<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/notice/" class="front_spNav_menuItem">お知らせ<span class="front_spNav_menuItemArrow"></span></a>
            </div>
          </div>
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_truck.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トラック情報</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/member/browsing_history" class="front_spNav_menuItem">閲覧したトラック<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/member/check/" class="front_spNav_menuItem">気になるトラック<span class="front_spNav_menuItemArrow"></span></a>
            </div>
          </div>
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_shopping.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">中古トラック販売</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/truckichi-nagaoka/stock/list/" class="front_spNav_menuItem front_spNav_menuItemW">中古トラック一覧<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/line/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">LINEでの</span><span class="front_spNav_menuItemSpan">お問い合わせ</span><span class="front_spNav_menuItemArrow"></span></a>
              <a href="/flow/" class="front_spNav_menuItem front_spNav_menuItemW">ご購入の流れ<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/faq_sale/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">よくある質問</span><small class="front_spNav_menuItemSmall">(中古トラックをお求めの方へ)</small><span class="front_spNav_menuItemArrow"></span></a>
            </div>
          </div>
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_handshake.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トラック買取</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/kaitori/" class="front_spNav_menuItem">トラックの買取<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/line_kaitori/" class="front_spNav_menuItem">LINEでの買取査定<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/faq_kaitori/" class="front_spNav_menuItem front_spNav_menuItem2Row"><span class="front_spNav_menuItemSpan">よくある質問</span><small class="front_spNav_menuItemSmall">(トラック買取をご希望の方へ)</small><span class="front_spNav_menuItemArrow"></span></a>
              <a href="" class="front_spNav_menuItem"></a>
            </div>
          </div>
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_maintenance.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トラック市長岡の車検</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/inspection/" class="front_spNav_menuItem">車検整備について<span class="front_spNav_menuItemArrow"></span></a>
              <a href="" class="front_spNav_menuItem"></a>
            </div>
          </div>
          <div class="front_spNav_section">
            <div class="front_spNav_sectionHead">
              <div class="container">
                <img src="/truckichi-nagaoka/src/public_html/assets/img/common/header_ico_corporate.png" alt="" width="20" height="20" decoding="async" class="front_spNav_sectionIcon">
                <span class="front_spNav_sectionTitle">トラック市長岡について</span>
              </div>
            </div>
            <div class="front_spNav_menu">
              <a href="/goodpoint/" class="front_spNav_menuItem">当店のこだわり<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/service/" class="front_spNav_menuItem">4つの満足宣言<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/about/" class="front_spNav_menuItem">会社概要<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/access/" class="front_spNav_menuItem">店舗案内<span class="front_spNav_menuItemArrow"></span></a>
              <a href="/contact/" class="front_spNav_menuItem front_spNav_menuItemBottom">お問い合わせ<span class="front_spNav_menuItemArrow"></span></a>
              <a href="" class="front_spNav_menuItem front_spNav_menuItemBottom"></a>
            </div>
          </div>
        </nav>
      </div>
      <div class="footer_container">
        <div class="footer_info">
          <div class="container">
            <div class="footer_info_brand">
              <div class="footer_info_brandCompany">
                <div class="footer_logo">
                  <a href="/" class="footer_logo_link"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/logo.webp" alt="トラック市" width="197" height="32" decoding="async" loading="eager" class="footer_logo_linkImg"><span class="footer_logo_linkTxt">長岡店</span></a>
                  <span class="footer_logo_nakanoauto">（<a href="https://nakano-auto.co.jp/" target="_blank" rel="noopener" class="footer_logo_nakanoautoLink">株式会社ナカノオート</a>）</span>
                </div>
                <p class="footer_info_brandCompanyAccess"><span>TEL.0258-28-5831</span>&emsp;<span>FAX.0258-28-5832</span></p>
                <p class="footer_info_brandCompanyAccess">営業時間&ensp;/&ensp;8:30～18:30（第2・4月曜日、日、祝定休）</p>
                <p class="footer_info_brandCompanyAccess">〒940-2101&emsp;新潟県長岡市寺島町857番地</p>

              </div>
              <div class="footer_info_brandSeal">
                <div class="seal">
                  <script type="text/javascript" src="//seal.securecore.co.jp/js/coressl_130-50.js"></script>
                  <a href="https://seal.cloudsecure.co.jp/webSiteProfileCloudSSL.php?p1=www.truckichi-nagaoka.com" onclick="return op();"><img src="https://seal.cloudsecure.co.jp/seal.cgi?p1=www.truckichi-nagaoka.com&amp;p2=130-50-coressl" width="130" height="50"></a><noscript><img src="//seal.securecore.co.jp/image/noscript_130x50.png"></noscript>
                </div>
                <span class="footer_info_brandSealTxt">トラック市長岡店のウェブサイトはSecureCore社の暗号化通信技術を採用しています。安心してご利用をいただけます。</span>
              </div>
            </div>
            <div class="footer_info_nav sp_none">
              <div class="footer_info_navWrap">
                <!-- ログイン時ここから -->
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">マイページ</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/member/browsing_history/" class="footer_info_navMenuItemLink">閲覧したトラック</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/check/" class="footer_info_navMenuItemLink">気になるトラック</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/deal_history/" class="footer_info_navMenuItemLink">購入・売却履歴</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/edit/" class="footer_info_navMenuItemLink">会員登録情報の変更</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/distribution/" class="footer_info_navMenuItemLink">情報配信の変更</a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/contact/" class="footer_info_navMenuItemLink">お問い合わせ履歴</a></li>
                  </ul>
                </nav>
                <!-- ログイン時ここまで -->
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">トラック市長岡について</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/goodpoint/" class="footer_info_navMenuItemLink">当店のこだわり</a></li>
                    <li class="footer_info_navMenuItem"><a href="/service/" class="footer_info_navMenuItemLink">４つの満足宣言</a></li>
                    <li class="footer_info_navMenuItem"><a href="/about/" class="footer_info_navMenuItemLink">会社概要</a></li>
                    <li class="footer_info_navMenuItem"><a href="/access/" class="footer_info_navMenuItemLink">店舗案内</a></li>
                    <li class="footer_info_navMenuItem"><a href="/contact/" class="footer_info_navMenuItemLink">お問い合わせ</a></li>
                  </ul>
                </nav>
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">中古トラック販売</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/stick/list/" class="footer_info_navMenuItemLink">中古トラック一覧</a></li>
                    <li class="footer_info_navMenuItem"><a href="/line/" class="footer_info_navMenuItemLink">LINEでのお問い合わせ</a></li>
                    <li class="footer_info_navMenuItem"><a href="/flow/" class="footer_info_navMenuItemLink">ご購入の流れ</a></li>
                    <li class="footer_info_navMenuItem"><a href="/faq_sale/" class="footer_info_navMenuItemLink">よくある質問<small class="footer_info_navMenuItemSmall">（中古トラックをお求めの方へ）</small></a></li>
                    <li class="footer_info_navMenuItem"><a href="/member/login/" class="footer_info_navMenuItemLink">マイページログイン</a></li>
                  </ul>
                </nav>
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">トラック買取</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/kaitori/" class="footer_info_navMenuItemLink">トラックの買取</a></li>
                    <li class="footer_info_navMenuItem"><a href="/line_kaitori/" class="footer_info_navMenuItemLink">LINEでの買取査定</a></li>
                    <li class="footer_info_navMenuItem"><a href="/faq_sale/" class="footer_info_navMenuItemLink">よくある質問<small class="footer_info_navMenuItemSmall">（トラック買取をご希望の方へ）</small></a></li>
                  </ul>
                </nav>
                <nav class="footer_info_navMenu">
                  <p class="footer_info_navMenuTtl">トラック市長岡の車検</p>
                  <ul class="footer_info_navMenuList">
                    <li class="footer_info_navMenuItem"><a href="/inspection/" class="footer_info_navMenuItemLink">車検整備について</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_contact">
          <div class="container">
            <div class="footer_contact_wrap">
              <div class="footer_contact_exMenu">
                <ul class="footer_contact_exMenuList">
                  <li class="footer_contact_exMenuListItem"><a href="/privacy/">個人情報の取り扱いについて</a></li>
                  <li class="footer_contact_exMenuListItem_separator">｜</li>
                  <li class="footer_contact_exMenuListItem"><a href="/agreement/">ご利用規約</a></li>
                  <li class="footer_contact_exMenuListItem_separator sp_none">｜</li>
                  <li class="footer_contact_exMenuListItem"><a href="/legal_notice/">特商法に関する記載</a></li>
                  <li class="footer_contact_exMenuListItem_separator">｜</li>
                  <li class="footer_contact_exMenuListItem"><a href="/sitemap/">サイトマップ</a></li>
                </ul>
                <div class="footer_contact_exMenuBtns">
                  <buton class="footer_contact_btn"><a href="https://nakano-auto.co.jp/" target="_blank" rel="noopener" class="footer_contact_btnWrap"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/footer_ico_external.png" alt="外部サイトへ" width="16" height="16" decoding="async" loading="eager" class="footer_contact_btnIcon"><span class="footer_contact_btnTxt">株式会社ナカノオート【公式】</span></a></buton>
                  <buton class="footer_contact_btn"><a href="https://recruit.nakano-auto.co.jp/" target="_blank" rel="noopener" class="footer_contact_btnWrap"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/footer_ico_external.png" alt="外部サイトへ" width="16" height="16" decoding="async" loading="eager" class="footer_contact_btnIcon"><span class="footer_contact_btnTxt">ナカノオートで働きませんか</span></a></buton>
                </div>
              </div>
              <div class="footer_contact_telCopy sp_none">
                <div class="footer_contact_tel">
                  <div class="common_contact_tel"><a href="tel:0120-864-109" class="common_contact_tel_wrap">
                    <p class="common_contact_telCatch color_green">ハローよい トラック</p>
                    <p class="common_contact_telNo"><img src="/truckichi-nagaoka/src/public_html/assets/img/common/ico_telephone_green.png" alt="" width="18" height="23" decoding="async" loading="eager" class="common_contact_telNoIcon"><span class="common_contact_telNoText color_green">0120-864-109</span></p>
                    <img src="/truckichi-nagaoka/src/public_html/assets/img/common/common_open_hour.svg" alt="" width="212" height="10" decoding="async" loading="eager" class="common_contact_telHour">
                    </a></div>
                </div>
                <p class="footer_copyright">Copyright © Truck Ichi Nagaoka All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="footer_copyright_sp pc_none">Copyright © Truck Ichi Nagaoka All Rights Reserved.</p>
      <div class="footer_fixed pc_none">
        <div class="footer_fixed_wrap">
          <button class="footer_fixed_btn btn_green btn_no_shadow"><a href="tel:0120864109" class="footer_fixed_btn_link analytics_tel">電話で相談</a></button>
          <button class="footer_fixed_btn btn_white btn_no_shadow"><a href="https://line.me/R/ti/p/%40uta6888b" target="_blank" rel="noopener" class="footer_fixed_btn_link analytics_line">LINEで相談</a></button>
        </div>
      </div>
    </footer>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/common.js"></script>
    <!--<script>
      window.addEventListener('DOMContentLoaded', () => {
        let checkbox = document.getElementById('toggle-slide-menu');
        checkbox.addEventListener('change', function(e) {
          if (this.checked) {
            document.getElementsByTagName('body')[0].classList.add('scroll_lock');
          } else {
            document.getElementsByTagName('body')[0].classList.remove('scroll_lock');
          }
        })
      });
    </script>-->
    <script src="/truckichi-nagaoka/src/public_html/assets/js/accordion.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/ajaxzip3.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/form.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/smooth_scroll.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/sticky_footer.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/detail_modal.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/front_form.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/stock.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/front/js/img_action.js"></script>
    <script type="text/javascript" src="/truckichi-nagaoka/src/public_html/assets/js/date_picker_custom.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/float_menu_list.js"></script>
    <script src="/truckichi-nagaoka/src/public_html/assets/js/top_slider.js"></script>
  </body>
</html>